<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Reporte Plan semanal</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="reporte_plan_semanal" role="form" ng-submit=""  novalidate="">
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="week">Semana :</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input class="form-control" uib-datepicker-popup id="week" ng-model="week" 
                                           is-open="open.week" min-date="minDate" max-date="maxDate"
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="changeWeek()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>

                            <label class="col-sm-1 control-label" for="desde">Desde :</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input class="form-control" ng-model="desde" ng-disabled="true"
                                           id="desde" ng-required="true" close-text="Close" />
                                </p>
                            </div>

                            <label class="col-sm-1 control-label" for="hasta">Hasta :</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input class="form-control" ng-model="hasta" ng-disabled="true"
                                           id="hasta" ng-required="true" close-text="Close" />
                                </p>
                            </div>
                        </div>
                         <div class="col-md-11 text-right">
                          <a ng-href="" ng-click="calcular_costo_semana()" class="btn btn-default" >
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    
                                    Costo Semanal:  {{costo_semanal | currency:'$'}}
                                </a>
                        <div class="btn-group">
                           

                          <button type="button" class="btn btn-default dropdown-toggle"
                                  data-toggle="dropdown">
                            <i class="glyphicon glyphicon-print"></i> Imprimir Reportes PDF <span class="caret"></span>
                          </button>
                         
                          <ul class="dropdown-menu" role="menu">                            
                            <li><a ng-click="imprimir()">Consolidado Materia Prima</a></li>
                            <li><a ng-click="generar_receta_diaria_pdf()">Receta Diaria</a></li>
                            
                          </ul>
                        </div>
                        

                                  </div><br /><br />

                        <uib-tabset>
                            <!--                            <uib-tab heading="Static title" active="tab.active" disable="tab.disabled">Static content</uib-tab>-->
                            <uib-tab  ng-repeat="day in weeks" ng-click="captura_dia(day.id); calcular_costo_diario(day.id);" heading="{{day.name}}" >
                          
                                <div class="row form-group">
                                    <div class="panel panel-default col-sm-12 text-center" ng-repeat="product in day.products"   ng-class="{
                                            true
                                            : 'col-sm-12', false:'col-sm-12'}[$index % 2 == 0]">
                                        <label class="col-sm-12  text-left">{{product.name}} <span id = "prod{{day.id + product.codigo}}" style="font-size: 10px"> </span></label>
                                         <div class="col-sm-12 " ng-repeat="(keyopt, option) in product.options">
                                            
                                            <label class="col-sm-2 control-label" ><span style="font-size: 10px" id = "op{{day.id + product.codigo + option.option}}"> </span> Opcion: {{option.option}}</label>
                                            <div class="col-sm-8 to-validate" >
                                                <p class="input-group">
                                                    <div class="col-sm-3" ng-repeat="categoria in option.categorias" ng-if = "option.categorias.length > 0" >
                                                        <label ng-if = "keyopt === 0" clas="col-sm-6">{{categoria.descripcion}}</label>
                                                                                                                 
                                                        <select class="col-sm-12" 
                                                                ng-model="categoria.receta"
                                                                ng-options="configurar_producto.codigo as configurar_producto.descripcion for configurar_producto in productos_compuestos"
                                                                required disabled>
                                                        </select>

                                                     </div>



                                                     <div class="col-sm-3" ng-if = "option.categorias.length === 0">
                                                         <label ng-if = "keyopt === 0" clas="col-sm-6">&nbsp; </label>
                                                        <select class="col-sm-12" 
                                                                ng-model="option.receta"
                                                                ng-options="configurar_producto.codigo as configurar_producto.descripcion for configurar_producto in productos_compuestos"
                                                                required disabled>
                                                        </select>

                                                     </div>

                                                    
                                                    <span class="input-group-lg col-sm-2">
                                                         <label ng-if = "keyopt === 0" clas="col-sm-8">CANTIDAD</label>
                                                        <input type="text" class="col-sm-10 text-center" ng-model="option.cantidad" decimal disabled/>

                                                    </span>

                                                    <div class="col-sm-1">
                                                         <label ng-if = "keyopt === 0" class="col-sm-6">&nbsp;</label>
                                                        <!--<span class="col-sm-1 glyphicon glyphicon-remove-circle" aria-hidden="true"  title="eliminar opcion"
                                                          ng-click="removeOption(day, product, option)"></span>-->

                                                      </div>
                                                    
                                                </p>


                                            </div>

                                        </div>
                                        <label class="col-sm-2 control-label"></label>
                                        <!--<div class="col-sm-1 to-validate" >
                                            <span class="glyphicon glyphicon-plus cursor-crosshair" 
                                                  aria-hidden="true" data-toggle="tooltip" title="Agregar opcion" 
                                                  ng-click="add_option(day, product)"></span>
                                        </div>-->

                                    </div>
                                    <!--<div class="col-sm-10 text-left">
                                        <span class="glyphicon glyphicon-plus cursor-crosshair"  
                                              aria-hidden="true" title="Agregar producto" data-toggle="modal" ng-click="set_day(day)" data-target="#modal_buscar_producto" ></span>
                                    </div>-->

                                </div>
                                <div class="col-md-12 text-right">
                                <a ng-click = "calcular_costo_diario(day.id)"  class="btn btn-default" >
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    
                                    Costo diario: {{costo_diario | currency:'$'}}
                                </a>
                                <br />
                                <br />

                        </div>
                            </uib-tab>
                            <!--                            <uib-tab select="alertMe()">
                                                            <uib-tab-heading>
                                                                <i class="glyphicon glyphicon-bell"></i> Alert!
                                                            </uib-tab-heading>
                                                            I've got an HTML heading, and a select callback. Pretty cool!
                                                        </uib-tab>-->
                        </uib-tabset>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-5">
                                <input type="hidden"  value="{{idDia}}" />

                                
                                <a ng-href="" ng-click="cancelar()" class="btn btn-danger" >
                                    <i class="icon-ok bigger-110"></i>
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="base_url + '../../client/src/app/reporte_plan_semanal/views/modal_producto.html'"></div>

