<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Dispatch</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="dispatch" role="form" ng-submit="guardar()"  novalidate="">
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="dayDispatch">D&iacute;a :</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input class="form-control" uib-datepicker-popup id="dayDispatch" ng-model="dayDispatch" 
                                           is-open="open.dayDispatch" min-date="minDate" max-date="maxDate"
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="changeDayDispatch()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>

                           
                        </div>
                        
                                <div class="panel-group col-sm-12" id="accordion{{$index}}" role="tablist" aria-multiselectable="true">
                                    
                                    <div class="panel panel-default col-sm-12" ng-repeat="client in datosDispatchDay track by $index">
                                        <div class="collaspse panel-heading" role="tab" id="heading{{$index}}">
                                            <h4 class="panel-title col-sm-8">
                                                <span class="glyphicon glyphicon-minus" data-toggle="modal" 
                                                      data-target="#modal_eliminar_cliente" aria-hidden="true" 
                                                      title="Eliminar cliente" 
                                                      ng-click="removeItem(client)"></span>
                                                <a role="button" ng-click="$event.preventDefault()" id="btn" 
                                                   data-toggle="collapse" class="in collapse in-line" 
                                                   data-parent="#accordion{{$index}}" href="#collapse{{dayIndex}}{{$index}}" 
                                                   aria-expanded="true" aria-controls="collapse{{$index}}">
                                                    <span class="text-center">{{client.code}}</span>
                                                    <span class="text-center">{{client.name}}</span>
                                                    <span style="display: none;" type class="text-center">{{client.contrato}}</span>
                                                   
                                                </a>
                                                 
                                            </h4>
                                            <div class="text-right col-sm-2">
                                                    <a ng-click = "generar_pedido(client, 'pedido')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-share-alt"></span> Generar Pedido</a>
                                                  </div>
                                            <div class="text-right col-sm-2">
                                              <a ng-click = "generar_pedido(client, 'guia')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-share-alt"></span> Despachar</a>
                                            </div>
                                                  <div style="clear:both;"></div>
                                        </div>
                                        <div id="collapse{{dayIndex}}{{$index}}" class="panel-collapse collapse in" 
                                             role="tabpanel" aria-labelledby="heading{{$index}}">
                                            <div class="panel panel-default  col-sm-10 text-center" 
                                                 ng-repeat="product in client.products"   
                                                 ng-class='{true : "col-sm-6", false:"col-sm-6"}[$index % 2 == 0]'>
                                                <span ng-if = "product.estado_dispatch != 1" class="col-sm-1 glyphicon glyphicon-minus" aria-hidden="true" 
                                                      title="Eliminar producto" 
                                                      ng-click="removeItem(client, product)"></span>
                                                <label class="col-sm-8  text-left">{{product.code}} {{product.name}}</label>
                                                <label  class="col-sm-3  text-right">

                                                  <input ng-if = "product.estado_dispatch != 1" title="seleccione para despachar" type="checkbox" value="{{product.code}}" name="{{client.code}}" />

                                                </label>
                                                <div class="col-sm-12" ng-repeat="(keyopt,option) in product.options">
                                                <div class="row">
                                                  
                                                    <span class="input-group-lg col-sm-3">
                                                              <label ng-if = "keyopt === 0" clas="col-sm-4">&nbsp;</label>
                                                                <label class="col-sm-12 control-label" ><h6><b>Opcion: {{option.option}}</b></h6></label>
                                                    </span>
                                                    <div class="col-sm-9 to-validate" >
                                                        <p class="input-group">

                                                            <span class="input-group-lg col-sm-3">
                                                              <label ng-if = "keyopt === 0" clas="col-sm-4">Cant.Prod.</label>
                                                                <input type="text" class="col-sm-12 text-right" ng-model="option.cantidad" decimal disabled/>
                                                            </span>
                                                            <span class="input-group-lg col-sm-3">
                                                              <label ng-if = "keyopt === 0" clas="col-sm-4">Cant.Disp.</label>
                                                                <input  ng-if = "product.estado_dispatch == 0" type="text" class="col-sm-12 text-right" ng-model="option.cantidad_dispatch" decimal />
                                                                <input  ng-if = "product.estado_dispatch == 1" type="text" class="col-sm-12 text-right" ng-model="option.cantidad_dispatch" decimal disabled/>

                                                                <input  ng-if = "product.estado_dispatch != 0 && product.estado_dispatch != 1" type="text" class="col-sm-12 text-right" ng-model="option.cantidad_dispatch" decimal />
                                                                
                                                            </span>

                                                            <span class="input-group-lg col-sm-3">
                                                              <label ng-if = "keyopt === 0" clas="col-sm-4">Cant.Entreg.</label>
                                                                <input  ng-if = "product.estado_dispatch == 0" type="text" class="col-sm-12 text-right" ng-model="option.cantidad_entregada" decimal />
                                                                <input  ng-if = "product.estado_dispatch == 1" type="text" class="col-sm-12 text-right" ng-model="option.cantidad_entregada" decimal disabled/>

                                                                <input  ng-if = "product.estado_dispatch != 0 && product.estado_dispatch != 1" type="text" class="col-sm-12 text-right" ng-model="option.cantidad_entregada" decimal />
                                                                
                                                            </span>

                                                            <label ng-if = "keyopt === 0" class="col-sm-3">&nbsp;</label>
                                                            <span ng-if = "product.estado_dispatch != 1" class="col-sm-1 glyphicon glyphicon-remove-circle" aria-hidden="true" 
                                                                  title="Eliminar opci&#243;n" 
                                                                  ng-click="removeItem(client, product, option)"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="text-right">
                                                <span ng-if = "product.estado_dispatch != 1" class="glyphicon glyphicon-plus cursor-crosshair " 
                                                      aria-hidden="true" data-toggle="tooltip" title="Agregar opci&#243;n" 
                                                      ng-click="addOption(client, product)"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 to-validate" >
                                            <span  class="glyphicon glyphicon-plus cursor-crosshair"  title="Agregar producto"
                                                  aria-hidden="true" data-toggle="modal" ng-click="setDataProduct(client); buscar_productos(false);" 
                                                  data-target="#modal_buscar_producto" ></span>
                                        </div>
                                    </div>
                                    <span class="glyphicon glyphicon-plus cursor-crosshair" data-toggle="modal"
                                          data-target="#modal_buscar_cliente" aria-hidden="true" title="Agregar Cliente" 
                                          ng-click="buscar_clientes(false);"
                                          ></span>
                                </div>

                                <div class="clearfix form-actions">
                            <div class="col-md-offset-5">
                                <button type="submit" class="btn btn-primary" >Guardar</button>
                                <a ng-href="" ng-click="cancelar()" class="btn btn-danger">
                                    <i class="icon-ok bigger-110"></i>
                                    Cancelar
                                </a>
                            </div>
                        </div>
                           
                        
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="base_url + '../../client/src/app/dispatch/views/modal_cliente.html'"></div>
<div ng-include src="base_url + '../../client/src/app/dispatch/views/modal_producto.html'"></div>
<style type="text/css">
    .in-line{
        display: inline-block !important;
    }
    tr:hover{
        background-color: #f9f9f9 !important;
    }
    .table-product tr th{
        background-color: rgba(102, 153, 204, 0.72) !important;
    }
    .table-option tr th{
        background-color: rgba(102, 153, 204, 0.42) !important;
    }
    .panel {
        margin-top: 0px !important; 
    }
    .hidde{
        display: none;
    }
</style>
