<style type="text/css">
    .modal-body, buscador_cuentas_contables_form {
        font-size:12px !important;
    }
    .modal-header {
        background: rgba(102, 153, 204, 0.95) !important;
    }
</style>
<div modal="modal_eliminar_cliente" hide-on-submit="{{cerrar_modal}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close glyphicon cursor-crosshair" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center black bolder">ELIMINAR CLIENTE</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                </div>

                <div class="space-10"></div>

                <div class="row">

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" ng-click="removeClient()" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>  
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
