<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Planificacion semanal previa</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="semana_planificar" role="form" 
                          ng-submit="guardar()"  novalidate="">
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="week">Semana :</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input class="form-control" uib-datepicker-popup id="week" ng-model="week" 
                                           is-open="open.week" min-date="minDate" max-date="maxDate"
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="changeWeek()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="clone"> Clonar
                                    </label>
                                </div>
                            </div>

                            <label class="col-sm-1 control-label" for="desde">Desde :</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input class="form-control" ng-model="desde" ng-disabled="true"
                                           id="desde" ng-required="true" close-text="Close" />
                                </p>
                            </div>

                            <label class="col-sm-1 control-label" for="hasta">Hasta :</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input class="form-control" ng-model="hasta" ng-disabled="true"
                                           id="hasta" ng-required="true" close-text="Close" />
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 to-validate" >
                                <label class="col-sm-4 control-label">Clientes : </label>
                                <span class="glyphicon glyphicon-plus cursor-crosshair"  
                                      aria-hidden="true" data-toggle="modal" data-target="#modal_buscar_cliente" ></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default" ng-repeat="semana in semanas track by $index">
                                    <div class="collaspse panel-heading" role="tab" id="heading{{$index}}">
                                        <h4 class="panel-title">
                                            <span class="glyphicon glyphicon-minus" data-toggle="modal" data-target="#modal_eliminar_cliente" aria-hidden="true" title="Eliminar cliente" ng-click="setWeek(semana)"></span>
                                            <a role="button" ng-click="$event.preventDefault()" id="btn" data-toggle="collapse" class="in collapse in-line" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">
                                                <span class="text-center">{{semana.cliente}}</span>
                                                <span class="text-center">{{semana.nombre}}</span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{$index}}">
                                        <div class="panel-body">
                                            <div class="col-sm-12 to-validate panel">
                                                <table class="table table-striped table-product">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center  col-sm-6">Codigo</th>
                                                            <th class="text-center  col-sm-6">Nombre</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr  ng-repeat="producto in semana.productos track by $index">
                                                            <td  class="text-center">
                                                                <div class="col-sm-1">
                                                                    <span class="glyphicon glyphicon-minus" aria-hidden="true" data-toggle="tooltip" title="Eliminar producto" ng-click="removeProduct(semana, $index)"></span>
                                                                </div>
                                                                <div class="col-sm-10">
                                                                    {{producto.codigo}}
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                {{producto.nombre}}
                                                                <table class="table table-striped table-option">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-center  col-sm-6">Opcion</th>
                                                                            <th class="text-center  col-sm-6">Cantidad</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="opcion in producto.opciones track by $index">
                                                                            <td class="col-sm-6">
                                                                                <div class="col-sm-2">
                                                                                    <span class="glyphicon glyphicon-minus" aria-hidden="true" data-toggle="tooltip" title="Eliminar opcion" ng-click="removeOption(producto, semana, opcion)"></span>
                                                                                </div>
                                                                                <div class="col-sm-4">{{opcion.opcion}}</div>
                                                                            </td>
                                                                            <td class="text-center  col-sm-6"><input class="text-right" ng-model="opcion.cantidad"/></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="col-sm-6 text-left">
                                                                    <span class="glyphicon glyphicon-plus cursor-crosshair" aria-hidden="true" 
                                                                          data-toggle="tooltip" title="Agregar opcion" ng-click="add_option(producto, semana)"></span>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <span class="glyphicon glyphicon-plus cursor-crosshair"  
                                                      aria-hidden="true" data-toggle="modal" ng-click="set_cliente(semana)" data-target="#modal_buscar_producto" ></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-5">
                                <button type="submit" class="btn btn-primary" ng-disabled="semana_planificar.$invalid">Guardar</button>
                                <a ng-href="" ng-click="cancelar()" class="btn btn-danger" ng-class="{ 'disabled' : (company_selected === '') }">
                                    <i class="icon-ok bigger-110"></i>
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="base_url + '../../client/src/app/semana_planificar/views/modal_cliente.html'"></div>
<div ng-include src="base_url + '../../client/src/app/semana_planificar/views/modal_producto.html'"></div>
<div ng-include src="base_url + '../../client/src/app/semana_planificar/views/eliminar_cliente.html'"></div>
<style type="text/css">
    .in-line{
        display: inline-block !important;
    }
    tr:hover{
        background-color: #f9f9f9 !important;
    }
    .table-product tr th{
        background-color: rgba(102, 153, 204, 0.72) !important;
    }
    .table-option tr th{
        background-color: rgba(102, 153, 204, 0.42) !important;
    }
</style>