<style type="text/css">
    .th-check{ width: 120px !important }
    .th-index{ width: 40px !important }
    .scroll {
        width: 100%;
        max-height: 450px;
        overflow-y: scroll;
        overflow-x: hidden;
        }
        .text-white {
            color: white;
        }
        .cursor{
            cursor: pointer;
        }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Reporte PortFee</div>
                <div class="panel-body">                                              
                            <div class="row">
                            
                            <div class="col-sm-2 to-validate" >
                                <label for="day">Desde:</label>
                                <p class="input-group">
                                    <input class="form-control" uib-datepicker-popup id="desde" ng-model="desde" 
                                           is-open="open.desde" max-date="hasta"
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="changeDesde()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-2 to-validate" >
                                <label for="day">Hasta</label>
                                <p class="input-group">
                                    <input class="form-control" uib-datepicker-popup id="hasta" ng-model="hasta" 
                                           is-open="open.hasta" min-date="desde"
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="changeHasta()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>

                            <div class="col-md-2">
                                <label for="tipo" class="black bolder">Codigo Cliente</label>
                                    <input
                                        id="codigo_cliente"
                                        name="codigo_cliente"
                                        type="text"
                                        class="form-control"                                        
                                        ng-model="codigo_cliente"                                       
                                        required />
                            </div>

                             <div class="col-md-2">
                                <label for="tipo" class="black bolder">Anticipo generado</label>
                                    <select 
                                            chosen
                                            data-placeholder="Seleccione uno"
                                            ng-model="estado_anticipo.filtro_estado_anticipo"
                                            class="form-control"                                            
                                            ng-options="estado_anticipo.valor as estado_anticipo.desc for estado_anticipo in filtro_estado_anticipo">
                                            <option value=""></option>
                                            
                                    </select>
                            </div>

                            <div class="col-md-3">
                                 <label for="tipo" class="black bolder">&nbsp;</label>
                                 <span class="col-md-12">
                                <button class="btn btn-primary col-md-offset-1" ng-click="buscar_facturas()"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                                 <button class="btn btn-primary col-md-offset-1" ng-click="refresh()"><span class="glyphicon glyphicon-trash"></span> Limpiar</button>
                                    </span>
                                </span>
                            
                           </div>
                        </div>

                       

                        <div class="form-group scroll">
                        
                            
                    <table class="table table-striped table-bordered table-hover" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th class="center th-index">#</th>
                                <th class="center">Cod. Cliente</th>
                                <th class="center">Nombre</th>
                                <th class="center">Fecha Fact.</th>                              
                                <th class="center">Factura</th>                              
                                <th class="center">Total Factura</th>                              
                                <th class="center"> Valor PortFee</th>                              
                                <th class="center">Anticipo generado</th>                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="rowlink" ng-repeat="factura in facturas_portfee" data-dismiss="modal">

                                <td class="text-right">{{$index + 1}}</td>
                                <td class="center">{{factura.codigo_cliente}}</td>
                                <td class="center">{{factura.nombre_cliente}}</td>
                                <td class="center">{{factura.fecha_factura}}</td>                                
                                <td class="center">{{factura.numero_factura}}</td>                                
                                <td class="text-right">{{factura.venta_bruta}}</td>                                
                                <td class="text-right">{{factura.valor_portfee}}</td>                          
                                
                                <td class="text-center" ng-if = "factura.estado_portfee == 1">SI</td>
                                <td class="text-center" ng-if = "factura.estado_portfee == 0">NO</td>                                
                            </tr>
                        </tbody>
                        <!--<tfoot>
                            <tr>
                                <td colspan="4"></td>
                                <td><div style='text-align:right'>Total PortFee: </div></td>
                                <td><div style='text-align:right'>$ {{ total_portfee }}</div></td>
                            </tr>
                        </tfoot>-->
                    </table>
                </div> 
                 <div class="clearfix form-actions">
                            <div class="col-md-offset-5">
                                 <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle"
                                          data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-export"></i> Exportar Reporte <span class="caret"></span>
                                  </button>
                                 
                                  <ul class="dropdown-menu" role="menu">                            
                                    <li><a class="cursor" ng-click="exportar_pdf()">PDF</a></li>
                                    <li><a class="cursor" ng-click="exportar_excel()">EXCEL</a></li>
                                    
                                  </ul>
                        </div>
                            </div>
                        </div>               
                </div>
            </div>
        </div>
    </div>
</div>