<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">SERVICIOS CONTRATADOS</div>
                    <div class="panel-body">

                         <div class="panel panel-success">
                          <div class="panel-heading">
                           <h3 class="panel-title">Filtros</h3>
                          </div>
                          <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">
                                <label for="clientes" class="black bolder">Clientes</label>
                                    <select  chosen                                      
                                        required
                                        id="cliente_seleccionado" 
                                        name="select_tipo"
                                        ng-model="busqueda_contrato.clientes"
                                        data-placeholder="Seleccione el Cliente"
                                        class="form-control"
                                        ng-change="selecciona_cliente()"
                                        ng-options="busqueda_contrato.codcte01 as busqueda_contrato.nomcte01 for busqueda_contrato in clientes">
                                        <option value=""></option>
                                    </select>
                            </div>
                            <div class="col-md-4">
                                <label for="tipo" class="black bolder">Categoria de Clientes</label>
                                    <select chosen                                        
                                            required
                                            id="categorias" 
                                            name="select_tipo"
                                            ng-model="busqueda_contrato.categorias"
                                            data-placeholder="Seleccione la Categoria"
                                            class="form-control"
                                            ng-change="selecciona_cliente()"
                                            ng-options="busqueda_contrato.desccate as busqueda_contrato.desccate for busqueda_contrato in categorias">
                                            <option value=""></option>
                                    </select>
                            </div>
                            <div class="col-md-2">
                                <label for="fdesde" class="black bolder">Fecha Inicio</label>
                                   <p class="input-group">
                                    <input required class="form-control" ng-class="{true: 'error'}[desde_ == null && submitted]"
                                           min-date="minDate"
                                           uib-datepicker-popup ng-model="$parent.finicio" 
                                           is-open="status.openedDesde" max-date="ffin"
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="desde()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label for="fhasta" class="black bolder">Fecha Fin</label>
                                    <p class="input-group">
                                    <input required class="form-control" uib-datepicker-popup ng-model="$parent.ffin"
                                           
                                           ng-class="{true: 'error'}[hasta_ == null && submitted]"
                                           is-open="status.openedHasta" min-date="finicio" 
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)"  close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="hasta()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                             


                        </div>

                       
                        <br>
                        <div class="row">  
                            
                             <div class="col-md-11 text-center" >
                                      <button class="btn btn-primary col-md-offset-1" ng-click="buscar()"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                                        <button class="btn btn-primary col-md-offset-1" ng-click="refresh()"><span class="glyphicon glyphicon-trash"></span> Limpiar</button>

                                </div>

                                
                        </div>
                         </div>
                        </div> 
                      

                        <div class="col-md-12 text-right" >
                                     
                                         <button class="btn btn-success col-md-offset-1" ng-click="new_busqueda_contrato()"><span class="glyphicon glyphicon-plus"></span> Nuevo Servicio Contratado</button>

                                   
                        </div>  

                     <br>
                     <br>
                     <br>

                <div class="row">
                    <table class="table table-striped table-bordered table-hover" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th class="center">Nombre Cliente</th>
                                <th class="center">C&oacute;digo Cliente</th>
                                <th class="center">Tipo</th>
                                <th class="center">Fecha Inicio</th>
                                <th class="center">Fecha Fin</th>
                                <th class="center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="rowlink" ng-repeat="contrato in contratos" data-dismiss="modal">
                                <td class="center">{{contrato.nomCliente}}</td>
                                <td class="center">{{contrato.codigo}}</td>
                                <td class="center">{{contrato.tipo}}</td>
                                <td class="center">{{contrato.desde}}</td>
                                <td class="center">{{contrato.hasta}}</td>
                                <td class="text-center">
                                    
                                    <button class="btn btn-info"
                                            tooltip='EDITAR'
                                            ng-click="edit_busqueda_contrato(contrato)">                   
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                    <button class="btn btn-info"
                                            tooltip='ELIMINAR'
                                            ng-click="delete_contrato(contrato)">                   
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                    <button class="btn btn-info"
                                            tooltip='PDF'
                                            
                                            
                                                                                        
                                            ng-click="genera_pdf(contrato)"
                                            >
                                        <i class="glyphicon glyphicon-print"></i>
                                    </button>

                                </td>
                            </tr>
                        </tbody>  
                    </table>
                </div>
             </div>                     
            </div>    
        </div>
    </div>
</div>

