<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
<!--CABECERA-->
            <div class="panel panel-primary">
                <div class="panel-heading">Clientes</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" name="productos_form" novalidate="">
                            <div class="form-group">

                                                <input
                                                    id="local_nombre"
                                                    name="local_nombre"
                                                    type="hidden"
                                                    
                                                    value="{{idContrato}}"                                            
                                                    disabled />

                                <label class="col-sm-2 control-label">*Clientes :</label>
                                    <div class="col-sm-3 to-validate">    
                                            <div ng-class="{true: 'error'}[clientes_ == null && submitted]">
                                                <select chosen
                                                        required
                                                        id="clientes" 
                                                        name="select_tipo"
                                                        ng-model="$parent.cliente"
                                                        data-placeholder="Seleccione un cliente"
                                                        class="form-control"
                                                        ng-change="selecciona_cliente()"
                                                        ng-disabled="disableSelect"
                                                        ng-options="busqueda_contrato.codcte01 as busqueda_contrato.nomcte01 for busqueda_contrato in clientes">
                                                        <option value=""></option>
                                                </select>
                                            </div>
                                    </div>
                                <label for="tipo" class="col-sm-2 control-label">Categor&iacute;a :</label>
                                        <div class="col-sm-3 to-validate">
                                                <input
                                                    id="local_nombre"
                                                    name="local_nombre"
                                                    type="text"
                                                    class="form-control"
                                                    ng-model="catefinal" 
                                                    style="text-align:left;"                                           
                                                    disabled />
                                        </div>
                                </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" >*Fecha Inicio :</label>
                                    <div class="col-sm-3 to-validate" >
                                        
                                           <p class="input-group">
                                    <input required class="form-control" ng-class="{true: 'error'}[desde_ == null && submitted]"
                                            min-date="minDate"
                                           uib-datepicker-popup ng-model="$parent.finicio" 
                                           is-open="status.openedDesde" max-date="ffin"
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="desde()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                                        
                                    </div>
                                <label class="col-sm-2 control-label">*Fecha Fin :</label>
                                <div class="col-sm-3 to-validate" >
                                       
                                             <p class="input-group">
                                    <input required class="form-control" uib-datepicker-popup ng-model="$parent.ffin"

                                           ng-class="{true: 'error'}[hasta_ == null && submitted]"
                                           is-open="status.openedHasta" min-date="finicio" 
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)"  close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="hasta()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                                      
                                </div>
                            </div>
                        </form>        
                </div>
            </div>
        </div>
    </div>
</div>

<!--SECCION AGREGAR ADICIONALES SERVICIO CUANDO LA CATEGORIA ES AEROLINEAS-->
<div class="container-fluid" ng-show="catefinal=='AEROLINEAS'">  
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">                 
                <div class="panel-heading">Caracteristicas por tipo areo</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form"  novalidate="">
                            <div class="col-md-12">  
                                <div class="row">
                                    <label class="col-md-1 control-label">Tipo Avi&oacute;n:</label>
                                        <div class="col-sm-2 to-validate">
                                                <select chosen

                                                id="aviones" 
                                                name="select_tipo"
                                                ng-model="$parent.avion"
                                                data-placeholder="Seleccione un avion"
                                                class="form-control"
                                                ng-change="selecciona_avion();"
                                                ng-disabled="disableSelect"
                                                ng-options="busqueda_contrato.codtab as busqueda_contrato.nomtab for busqueda_contrato in aviones">
                                                <option value=""></option>
                                                </select>
                                                
                                        </div>
                                    <label class="col-md-1 control-label"># Vuelo :</label>
                                        <div class="col-sm-2 to-validate">
                                                <input
                                                    id="local_nombre"
                                                    name="local_nombre"
                                                    type="text"
                                                    class="form-control"
                                                    ng-model="$parent.vuelo"
                                                    style="text-align:right;"
                                                    placeholder="0"
                                                    min="0"
                                                    
                                                    disabled/>
                                        </div>

                                    
                                     <label class="col-md-1 control-label">Duraci&oacute;n del ciclo:</label>
                                        
                                            <div class="col-sm-2 to-validate">
                                                <input
                                                    id="local_nombre"
                                                    name="local_nombre"
                                                    type="number"
                                                    class="form-control"
                                                    ng-model="$parent.duracion"
                                                    style="text-align:right;"
                                                    placeholder="0"
                                                    min="0"
/>
                                            </div>

                                            <div class="col-sm-2 to-validate">
                                             
                                                <select chosen

                                                id="aviones" 
                                                name="select_ciclo"
                                                ng-model="$parent.ciclos"
                                                data-placeholder="Seleccione un ciclo"
                                                class="form-control"
                                                ng-options="opciones_ciclos.valor as opciones_ciclos.desc for opciones_ciclos in ciclos_opciones"
                                                >   

                                                <option value=""></option>
                                                
                                                
                                                </select>
                                            </div>    
                                        
                                    </div>
                                <div class="row">
                                     <label class="col-md-1 control-label">Cant. BC:</label>
                                        <div class="col-sm-2 to-validate">
                                                <input
                                                    id="local_nombre"
                                                    name="local_nombre"
                                                    type="number"
                                                    class="form-control"
                                                    ng-model="$parent.cantidadBc"
                                                    style="text-align:right;"
                                                    placeholder="0"
                                                    min="0"
 
                                                    disabled />
                                        </div>
                                    <label class="col-md-1 control-label">Cant. EC:</label>
                                        <div class="col-sm-2 to-validate">
                                                <input
                                                    id="local_nombre"
                                                    name="local_nombre"
                                                    type="number"
                                                    class="form-control"
                                                    ng-model="$parent.cantidadEc"
                                                    style="text-align:right;"
                                                    placeholder="0"
                                                    min="0"
                                                    
                                                    disabled />
                                        </div>
                                    <label class="col-md-1 control-label">Cant. TM:</label>
                                        <div class="col-sm-2 to-validate">
                                                <input
                                                    id="local_nombre"
                                                    name="local_nombre"
                                                    type="number"
                                                    class="form-control"
                                                    ng-model="$parent.cantidadTm"
                                                    style="text-align:right;"
                                                    placeholder="0"
                                                    min="0"
                                                    
                                                    disabled />
                                        </div>
                                    <label class="col-md-1 control-label">Piloto:</label>
                                        <div class="col-sm-2 to-validate">
                                                <input
                                                    id="local_nombre"
                                                    name="local_nombre"
                                                    type="number"
                                                    class="form-control"
                                                    ng-model="$parent.cantidadPi"
                                                    style="text-align:right;"
                                                    placeholder="0"
                                                    min="0"
                                                   
                                                    disabled />
                                        </div>
                                    </div>
                                    <div><br></div>
                                <div class="row">
                                    <label class="col-md-1 control-label">Copiloto:</label>
                                        <div class="col-sm-2 to-validate">
                                                <input
                                                    id="local_nombre"
                                                    name="local_nombre"
                                                    type="number"
                                                    class="form-control"
                                                    ng-model="$parent.cantidadCo"
                                                    style="text-align:right;"
                                                    placeholder="0"
                                                    min="0"
                                                    
                                                    disabled />
                                        </div>
                                </div>        
                               </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>                   
<!--SECCION AGREGAR PRODUCTOS Y OPCIONES PARA CADA PRODUCTO-->
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Frecuencia</div><br />
                  <div ng-repeat="(fIndex, frecuencia) in frecuencias ">
                     
                     <div class="panel panel-primary" style= "margin:10px">
                        <span style="margin-left:5px"><b>No. {{fIndex}} :</b></span> 
                    <form class="form-horizontal" name="productos_form" role="form " ng-repeat="input in inputs track by input['id']" >
                        <div class="form-group">
                            <div><br></div>
                            <label class="col-sm-2 control-label">D&iacute;as :</label>
                            <div class="row">
                                <label ng-repeat="(dia,enabled) in dias">
                                    <div class="col-sm-12">
                                        <input ng-change = "valida_frecuencias(frecuencia.input[dia],dia,fIndex)" class="icheckbox_square-blue" type="checkbox" ng-model="frecuencia.input[dia]"icheck> {{dia}}
                                    </div>
                                </label>                                    
                            </div>
                            <div class="col-sm-3 to-validate">
                                &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"  tooltip="Eliminar Frecuencia" ng-click="removeFrecuencias(frecuencia.numero)"></span>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">*Productos :</label>
                                <div class="col-sm-2">
                                    <span  class="glyphicon glyphicon-search cursor-crosshair"  tooltip="Agregar Producto" aria-hidden="true" data-toggle="modal"  data-target="#modal_buscar" ng-click="indiceSelect(fIndex, 'fp')"></span>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col-sm-10 to-validate" ng-repeat="(pIndex, producto) in frecuencia.productos">
                                        <div class="col-sm-16 to-validate">
                                            <br> 
                                            <div class="col-sm-1" ng-show="catefinal=='AEROLINEAS'">                                              
                                                <span class="glyphicon glyphicon-list-alt cursor-crosshair" aria-hidden="true" tooltip="Configuracion" ng-click="configuracion(producto)"></span>
                                            </div>
                                            <input   
                                                class="col-sm-3" 
                                                name="descrip"
                                                type="text"
                                                class="form-control"
                                                style="text-align:left;"
                                                ng-model="producto.descripcion"
                                                required 
                                                />
                                            <div style="font-size: 9px;" class="col-sm-1" ng-show="show">C&oacute;digo:<br> {{producto.confiCodProducto}}</div>
                                            <div style="font-size: 9px;" class="col-sm-2" ng-show="show">Descripci&oacute;n:<br> {{producto.confiDescripcion}}</div>
                                            <div style="font-size: 9px;" class="col-sm-2" ng-show="show">Cant. Total Configurada:<br> {{producto.confiCantidad}}</div>
                                            <div style="font-size: 9px;" class="col-sm-2" ng-show="show">Precio Actual Configurado:<br> ${{producto.confiPrecio | number:2}}</div>
                                            <input   
                                                class="col-sm-4" 
                                                name="descrip"
                                                type="hidden"
                                                class="form-control"
                                                ng-model="producto.codigo_producto"
                                               
                                                />                                    
                                            <div class="col-sm-0 to-validate">
                                                &nbsp;&nbsp;    
                                                <span class="glyphicon glyphicon-remove-circle cursor-crosshair" aria-hidden="true" tooltip="Eliminar Producto" data-toggle="modal" id="add" ng-click="removeProducto(frecuencia,pIndex)"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 to-validate" ng-repeat="(oIndex, productos_contrato) in producto.opciones">
                                            <br>
                                    <label class="col-sm-2 control-label">Opci&oacute;n {{oIndex+1}}</label>
                                       <label class="col-md-1 control-label">*Cant.:</label>
                                            <div class="col-sm-2 to-validate" >
                                            
                                                <input
                                                    id="cant_bc"
                                                    name="cant_bc"
                                                    type="number"
                                                    min="0"
                                                    class="form-control"
                                                    style="text-align:right;"
                                                    ng-model="productos_contrato.cantidad"

                                                    required />
                                            
                                            </div>
                                            <!--
                                              <div class="col-sm-2 to-validate">
                                             
                                                <input    
                                                    name="cant_co"
                                                    type="number"
                                                    class="form-control"
                                                    style="text-align:right;"
                                                    ng-model="productos_contrato.opcion"
                                                    required
                                                    min="0" />
                                                </div>
                                             -->   
                                            <label class="col-sm-1 control-label">*Precio Unitario: </label>
                                                <div class="col-sm-2 to-validate">
                                                
                                                    <input
                                                        type="text"   
                                                        class="form-control"
                                                        style="text-align:right;"
                                                        ng-model="productos_contrato.clientePrecio"
                                                        required                                                           
                                                       />
                                                </div>
                                               

                                           <div class="col-sm-0" ng-show="catefinal=='INDUSTRIAL'"> 
                                            <label class="col-sm-1 control-label">Servicios:</label>
                                                <div class="col-sm-2 to-validate">
                                                    <input 
                                                        type="number"
                                                        class="form-control"
                                                        style="text-align:right;"
                                                        ng-model="productos_contrato.servicio"
                                                        
                                                        min="0" />
                                                </div>
                                            </div>
                                                <div class="col-sm-0 to-validate">    
                                                    <span class="glyphicon glyphicon-remove-circle cursor-crosshair" aria-hidden="true" tooltip="Eliminar Opcion" data-toggle="modal" id="add" ng-click="removeOpciones(producto, oIndex)"></span>
                                                </div>
                                        </div>
                                            <div class="col-sm-6 to-validate">
                                                    <span class="glyphicon glyphicon-plus cursor-crosshair"  aria-hidden="true" tooltip="Agregar Opcion" data-toggle="modal" id="repetir" ng-click="addOpciones(producto)"></span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                 </form>
                </div> 

            </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right" style="padding-right: 25px">
                        <a ng-href="" ng-click="addFrecuencias()" class="btn btn-success" >                                    
                                    <span class="glyphicon glyphicon-plus"></span> Nueva Frecuencia 
                                </a>
                        
                        </div>
                    </div>
            </div>
                <div class="space-4"></div>
        </div>


<div ng-include src="base_url + '../../client/src/app/busqueda_contrato/views/modal.html'"></div>