<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">EDITAR SERVICIO CONTRATADO</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" validate-form="edit()" name="busqueda_contrato" novalidate="" ng-submit="guardar()">                        
                        <div ng-include src="base_url + '../../client/src/app/busqueda_contrato/views/cliente_contrato.html'" ></div>                      
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-5">
                                <!-- <button type="submit" class="btn btn-primary" ng-disabled="productos_form.$invalid || !productos_cliente.length">Guardar</button> -->
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <a ng-click="retornar_pagina()" class="btn btn-danger" ng-class="{ 'disabled' : (company_selected === '') }">
                                    <i class="icon-ok bigger-110"></i>
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</div>
