<style>
    input.ng-dirty.ng-invalid{border:1px solid red;}
    .error{border:1px solid red;}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Configurar_producto</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="productos_form" role="form" 
                          ng-submit="guardar()"  novalidate="">
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="clientes">Clientes :</label>
                            <div class="col-sm-4 to-validate control-group">
                                <div ng-class="{true: 'error'}[clientes_ == null && submitted]">
                                    <select chosen
                                            required
                                            id="clientes" 
                                            name="select_tipo"
                                            ng-model="clientes_"
                                            data-placeholder="Seleccione un cliente"
                                            class="form-control"
                                            ng-blur="selecciona_cliente()"
                                            ng-options="configurar_producto.codcte01 as configurar_producto.nomcte01 for configurar_producto in clientes">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <label class="col-sm-1 control-label" for="clientes">Tipo Avión:</label>
                            <div class="col-sm-2 to-validate">
                                <div ng-class="{true: 'error'}[aviones_ == null && submitted]">
                                    <select chosen
                                            required
                                            id="clientes" 
                                            name="select_tipo"
                                            ng-model="aviones_"
                                            data-placeholder="Seleccione tipo de avión"
                                            class="form-control"
                                            ng-change="selecciona_cliente()"
                                            ng-options="configurar_producto.codtab as configurar_producto.nomtab for configurar_producto in aviones">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <label class="col-sm-2 control-label" for="local_nombre">Número de Vuelo:</label>
                            <div class="col-sm-2 to-validate control-group" >
                                <div ng-class="{true: 'error'}[numero_vuelo_ == null && submitted]">
                                    <input
                                        id="local_nombre"
                                        name="local_nombre"
                                        type="text"
                                        class="form-control"
                                        
                                        ng-model="numero_vuelo_"
                                        ng-change="selecciona_cliente()"
                                        required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Productos :</label>
                            <div class="col-sm-1 to-validate" >
                                <span class="glyphicon glyphicon-plus cursor-crosshair"  ng-click="validate()" aria-hidden="true" data-toggle="modal" data-target="#{{modal_buscar}}" ></span>
                            </div>
                            <label class="col-sm-2 control-label" >Fecha Inicio :</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input required class="form-control" ng-class="{true: 'error'}[desde_ == null && submitted]"
                                            min-date="minDate"
                                           uib-datepicker-popup ng-model="desde_" 
                                           is-open="status.openedDesde" max-date="hasta_"
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="desde()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <label class="col-sm-1 control-label">Fecha Fin:</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input required class="form-control" uib-datepicker-popup ng-model="hasta_" 
                                           ng-class="{true: 'error'}[hasta_ == null && submitted]"
                                           is-open="status.openedHasta" min-date="desde_" 
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)"  close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="hasta()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>

                            </div>
                        </div>

                        <div class="form-group">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center  col-sm-3">Codigo</th>
                                        <th class="text-center  col-sm-3">Codigo producto</th>
                                        <th class="text-center  col-sm-3">Descripcion</th>
                                        <th class="text-center  col-sm-3">Cantidad</th>
                                        <th class="text-center  col-sm-3">Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="producto_cliente in productos_cliente track by $index" >
                                        <td class="text-center  col-sm-3">
                                            <span class="glyphicon glyphicon-minus" aria-hidden="true" ng-click="removeProducto($index)"></span>
                                            <span class="text-center">{{producto_cliente.codigo}}</span>
                                        </td>
                                        <td class="text-center">
                                            <input class="text-center" ng-model="producto_cliente.codigo_producto" required/>
                                        </td>
                                        <td class="text-center"><input ng-model="producto_cliente.descripcion" required/></td>
                                        <td class="text-center"><input decimal ng-model="producto_cliente.cantidad" required class="text-right"/></td>
                                        <td class="text-center"><input decimal ng-model="producto_cliente.precio"  required class="text-right"/></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="space-4"></div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-5">
                                <button type="submit" class="btn btn-primary" ng-disabled="productos_form.$invalid || !productos_cliente.length">Guardar</button>
                                <a ng-href="" ng-click="cancelar()" class="btn btn-danger" ng-class="{ 'disabled' : (company_selected === '') }">
                                    <i class="icon-ok bigger-110"></i>
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="base_url + '../client/src/app/configurar_producto/views/modal.html'"></div>
