<style type="text/css">
    .ped{
        width:82px;
        text-align: right;
    }
    .headInputPed{

        width:100%;

    }
    .btAddProducto{
        text-align: right;
        padding: 0px 25px 10px 0px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">FACTURACION DE PEDIDOS</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" name="busqueda_contrato"  ng-submit="guardar()">       
                                           
                        <div class="clearfix form-actions">
                            <div class="col-md-12">
                                   <div class="row">
                                        <div class="col-md-12">
                                             <div class="panel panel-success">
                                              <div class="panel-heading">
                                                <h3 class="panel-title">informacion cliente:</h3>
                                              </div>
                                              <div class="panel-body"> 
                                                <table class="table" style="font-size: 11px" width="100%" >
                                                    
                                                        <tr  data-dismiss="modal">
                                                            <td class="col-sm-1"><b>CLIENTE</b></td>
                                                            <td class="center">{{nombre_cliente}}
                                                             {{nocomp}}
                                                            </td>
                                                            <td class="col-sm-1"></td>
                                                            <td class="col-sm-1"></td>
                                                            <td class="center"><button type="button" ng-click = "buscar_clientes(false);" data-toggle="modal"
                                          data-target="#modal_buscar_cliente" class="btn btn-default btn-sm">
                                                                              <span class="glyphicon glyphicon-user"></span> Cambiar cliente 
                                                                            </button>
                                                                            
                                                                              <span ><input  type="checkbox" ng-model="dividir_factura"  /></span> Dividir factura 
                                                                            
                                                            </td>  
                                                            <td rowspan="10" valign="top">

                                                                    <div class="panel panel-success">
                                                                      <div class="panel-heading">
                                                                        <h3 class="panel-title">Pedidos:</h3>
                                                                      </div>
                                                                      <div class="panel-body">
                                                                        <table style="font-size: 12px">
                                                                            
                                                                                <tr ng-repeat="pedido in lista_pedidos" data-dismiss="modal">
                                                                                    <td class="center"><input type="checkbox" ng-model="pedido.checked" ng-change = "pedidos_seleccionados(pedido)"
                                                                                    ng-disabled="pedido.bloqueado" />
                                                                                     <span ng-if = "pedido.dividir_pedido == 1">*</span>{{pedido.nopedido30}}</td>
                                                                                    
                                                                                </tr>
                                                                                <tr>
                                                                                <td><br>
                                                                                    <button class="btn btn-success col-md-offset-1" ng-click="detalle_pedidos()"><span class="glyphicon glyphicon-plus"></span> Ver detalle</button>

                                                                                </td>
                                                                                </tr>
                                                                        
                                                                            
                                                                        </table>
                                                                      </div>
                                                                    </div>       

                                                            </td>                                   
                                                        </tr>
                                                        <tr  data-dismiss="modal">
                                                            <td class="center" ><b>No FACTURA </b></td>
                                                            <td class="center"></td> 
                                                            <td class="col-sm-1"></td>
                                                            <td class="col-sm-2"><b>FECHA</b></td>
                                                            <td class="center">{{fecha | date: 'fullDate'}}</td>                                   
                                                        </tr>
                                                        <tr  data-dismiss="modal">
                                                            <td class="center"><b>*DIRECCION</b></td>
                                                            <td class="center"><input class= "headInputPed" type="text" ng-model = "direccion" /></td>
                                                            <td class="col-sm-1"></td>
                                                            <td class="center"><b>TELEFONO</b></td>
                                                            <td class="center"><input class= "headInputPed" type="text" ng-model = "telefono" /></td>                                     
                                                        </tr>
                                                        <tr  data-dismiss="modal">
                                                            <td class="center"><b>*VENDEDOR</b></td>
                                                            <td class="center">
                                                                
                                                                <select chosen  
                                                                        ng-model="vendedor"
                                                                        data-placeholder="Seleccione un vendedor"
                                                                        class="form-control"                                            
                                                                        ng-options="dato_vendedor.codtab as dato_vendedor.nomtab for dato_vendedor in vendedores">
                                                                        <option value=""></option>
                                                                </select>

                                                            </td>
                                                            <td class="col-sm-1"></td>
                                                            <td class="center"><b>*LOCALIDAD</b></td>
                                                            <td class="center">
                                                                         <select chosen  
                                                                        ng-model="localidad"
                                                                        data-placeholder="Seleccione una localidad"
                                                                        class="form-control"                                            
                                                                        ng-options="dato_localidad.codtab as dato_localidad.nomtab for dato_localidad in localidades">
                                                                        <option value=""></option>
                                                                        </select>
                                                            </td>                                      
                                                        </tr>
                                                        <tr  data-dismiss="modal">
                                                            <td class="center"><b>*CONDICION DE PAGO</b></td>
                                                            <td class="center">
                                                                        <select ng-disabled="habilitarCondPago" chosen  
                                                                        ng-model="condPago"
                                                                        data-placeholder="Seleccione una condicion"
                                                                        class="form-control"
                                                                        ng-change = "data_condicion_pago()"   
                                                                        ng-options="dato_cond_pago.codtab as dato_cond_pago.nomtab for dato_cond_pago in condiciones_pago">
                                                                        <option value=""></option>
                                                                        </select>
                                                            </td>
                                                            <td class="col-sm-1"></td>
                                                            <td class="center"><b>*RUC / CI</b></td>
                                                            <td class="center"><input class= "headInputPed" type="text" ng-model="ci_ruc"  /></td>                                      
                                                        </tr>
                                                        <tr  data-dismiss="modal">
                                                            <td class="center"><b>*IMPRESORA</b></td>
                                                            <td class="center">
                                                                
                                                                     <select chosen  
                                                                        ng-model="impre"
                                                                        data-placeholder="Seleccione una impresora"
                                                                        class="form-control"                                            
                                                                        ng-options="dato_impresora.codtab as dato_impresora.nomtab for dato_impresora in impresoras">
                                                                        <option value=""></option>
                                                                        </select>

                                                            </td>
                                                            <td class="col-sm-1"></td>
                                                            <td class="center"><b>TRANSPORTISTA</b></td>
                                                            <td class="center">
                                                                       <select chosen  
                                                                        ng-model="cond_pago"
                                                                        data-placeholder="Seleccione un transportista"
                                                                        class="form-control"                                            
                                                                        ng-options="dato_transportista.codtab as dato_transportista.nomtab for dato_transportista in transportistas">
                                                                        <option value=""></option>
                                                                        </select>
                                                            </td>                                    
                                                        </tr>
                                                        <tr  data-dismiss="modal">
                                                            <td class="center"><b>CONTACTO</b></td>
                                                            <td class="center"><input class= "headInputPed" type="text" ng-model = "contacto" />
                                                            <td class="col-sm-1"></td>
                                                            <td class="center"><b>OBSERVACIONES</b></td>
                                                            <td class="center"><input class= "headInputPed" type="text"  /></td>                                    
                                                        </tr>                                                       
                                                                                                              
                                                    
                                                </table>
                                              </div>
                                            </div>   
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row" ng-if = "flag_detalles == 1">
                                    <div class = "btAddProducto">

                                    <button data-toggle="modal"  data-target="#modal_buscar_producto" class="btn btn-success col-md-offset-1" ng-click="buscar_productos(false);"><span class="glyphicon glyphicon-plus"></span> Agregar producto</button>
                                       
                                    </div>
                            
                                    <table style="cursor:pointer;" class="table table-striped table-bordered table-hover" >
                                        <thead style="font-size: 11px">
                                            <tr>
                                                <th class="center" width="25">
                                                    <input type="checkbox" ng-model = "checkItemsAll.value" ng-change = "items_pedidos_seleccionados(checkItemsAll);"/>
                                                    
                                                </th>
                                                <th class="center" width="115">No pedido</th>
                                                <th class="center" width="260">Producto</th>
                                                <th class="center">Cant.Pedida</th>
                                                <th class="center">V.Unitario</th>
                                                <th class="center">Flete Unit.</th> 
                                                <th class="center">Recargo Unit.</th> 
                                                <th class="center">Dscto.</th> 
                                                <th class="center">Cant.Fact</th> 
                                                <!--<th class="center">Stock Mvto.</th>-->
                                                <th class="center">A Facturar</th>
                                                <th class="center">Total</th>
                                                <th class="center" width="25"></th>                                
                                            </tr>
                                        </thead>
                                        <tbody style="font-size: 11px" >
                                            <tr   class="rowlink" ng-repeat="(key, dato_pedido) in items_pedido" data-dismiss="modal">
                                                <td class="center"><input type="checkbox"  ng-model="dato_pedido.checked" ng-change="calcular_totales()" /></td>
                                                <td class="center">{{dato_pedido.nopedido30}}</td>
                                                <td class="center">{{dato_pedido.codprod30}} - {{dato_pedido.nom_producto}} <a data-toggle="modal"  data-target="#modal_buscar_producto" ng-click="buscar_productos_equivalente(false,dato_pedido.codprod30);" title="producto equivalente"><span class="glyphicon glyphicon-search"></span></a></td>
                                                <td class="center">
                                                <span ng-if = "dato_pedido.nopedido30 != ''">{{dato_pedido.cantped30}}</span>
                                                <span ng-if = "dato_pedido.nopedido30 == ''"><input ng-blur = "calcular_totales()"  class="ped" type="text" ng-model = "dato_pedido.cantped30" /></span>
                                                </td>
                                                <td class="center">
                                                <span ng-if = "dato_pedido.nopedido30 != ''">{{dato_pedido.precuni30}}</span>
                                                <span ng-if = "dato_pedido.nopedido30 == ''"><input ng-blur = "calcular_totales()"  class="ped" type="text" ng-model = "dato_pedido.precuni30" /></span>

                                                </td>
                                                <td class="center"></td>
                                                <td class="center">{{dato_pedido.recargos30}}</td>
                                                <td class="center">{{dato_pedido.desctoxprod30}}</td>
                                                <td class="center">{{dato_pedido.cantfac30}}</td>
                                                <!--<td class="center">0.00</td>-->
                                                <td class="center"><input ng-blur="validar_cantidad_a_facturar(dato_pedido)"  class="ped" type="text" ng-model = "dato_pedido.aFacturar" /></td>
                                                <td style="text-align: right;">{{dato_pedido.total}}</td>
                                                <td style="font-size: 12px;"><a title="quitar item"><span ng-click = "eliminar_producto(dato_pedido,$index); calcular_totales();"  class="glyphicon glyphicon-remove"></span></a></td>
                                            </tr>

                                        </tbody>  
                                        <tfoot style="font-size: 11px; text-align:right;">
                                             <tr>
                                                <td colspan="5">STOT. CON IVA</td>
                                                <td ><input class="ped" type="text" decimal ng-model = "sTotConIva" /></td>
                                                <td >STOT. SIN IVA</td>
                                                <td ><input class="ped" type="text" decimal ng-model = "sTotSinIva" /></td>
                                                <td >SUBTOTAL</td>
                                                <td ><input class="ped" type="text" decimal ng-model = "totalafac" /></td>
                                                <td ><input class="ped" type="text" decimal ng-model = "subtotal" /></td>
                                                <td ></td>
                                            </tr>
                                            <tr>
                                                <td  colspan="9">DESCUENTO CLIENTE</td>
                                                <td >{{descto30}}</td>
                                                <td ><input class="ped" decimal type="text" ng-model = "decC" /></td>
                                                <td ></td>
                                            </tr>
                                            <tr>
                                                <td  colspan="9">DESCUENTO FORMA DE PAGO</td>
                                                <td >{{desctofp30}}</td>
                                                <td ><input class="ped" decimal type="text" ng-model = "descFp" /></td>
                                                <td ></td>
                                            </tr>
                                            <tr>
                                                <td colspan="9">RECARGOS</td>
                                                <td ></td>
                                                <td ><input class="ped" type="text" decimal ng-model = "recargos" /></td>
                                                <td ></td>
                                            </tr>
                                            <tr>
                                                <td colspan="9">IVA</td>
                                                <td >{{iva}}</td>
                                                <td ><input class="ped" type="text" decimal ng-model = "valor_iva" /></td>
                                                <td ></td>
                                            </tr>
                                            <tr>
                                                <td colspan="9">PORTFEE</td>
                                                <td>{{porcentaje_portfee}}</td>
                                                <td><input class="ped" type="text" decimal ng-model = "otrosSinIva" /></td>
                                                <td ></td>
                                            </tr>
                                            <tr>
                                                <td colspan="9">TOTAL</td>
                                                <td ></td>
                                                <td ><input class="ped" type="text" decimal ng-model = "total" /></td>
                                                <td ></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class = "row">
                                <div class="col-md-12">&nbsp;&nbsp;&nbsp;<b>ACCIONES: </b>
                                <button ng-click="ingresar_factura()" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Ingresar</button>
                                 <a ng-click="cancelar()"  class="btn btn-danger" >
                                    <span class="glyphicon glyphicon-remove"></span>
                                    Cancelar
                                </a>
                                </div>
                            </div>
                            <div class="row" ng-if = "tipo_pago == 0 && flag == 0">
                            <br />
                               <div class="col-md-12">
                               <div class="panel panel-success">
                                                                      <div class="panel-heading">
                                                                        <h3 class="panel-title">Detalle de pago:</h3>
                                                                      </div>
                                                                      <div class="panel-body">
                                                                         
                                                                        <table style="font-size: 12px" class="table table-striped table-bordered table-hover">
                                                                                <thead style="font-size: 11px">
                                                                                <tr>
                                                                                    
                                                                                    <th class="center" >FORMA DE PAGO</th>
                                                                                    <th class="center" >NUM. CHEQUE/TARJETA</th>
                                                                                    <th class="center">BANCO-CTA/EMISOR</th>
                                                                                    <th class="center">VALOR</th>
                                                                                    <th class="center" width="115"></th> 
                                                                                                                    
                                                                                </tr>
                                                                            </thead>                                
                                                                                <tr ng-repeat="dato in detalle_formas_pago" data-dismiss="modal">
                                                                                    <td class="center">
                                                                                        <select chosen  
                                                                                            ng-model="dato.formasPago"
                                                                                            data-placeholder="Seleccione una opcion"
                                                                                            class="form-control" 
                                                                                            ng-options="dato_formas_pago.codtab as dato_formas_pago.nomtab for dato_formas_pago in formas_pago">
                                                                                            <option value=""></option>
                                                                                            </select>
                                                                                    </td>
                                                                                    <td class="center">
                                                                                        <input class= "headInputPed" type="text" ng-model="dato.num_cheq_tarj"  />
                                                                                    </td>
                                                                                    <td class="center">
                                                                                        <input class= "headInputPed" type="text" ng-model="dato.banc_cta_emi"  />
                                                                                    </td>
                                                                                    <td class="center">
                                                                                        <input class= "headInputPed" type="text" ng-model="dato.valor"  />
                                                                                    </td>
                                                                                    <td class="center">
                                                                                        <span ng-click="eliminar_forma_pago(dato,$index)" class="glyphicon glyphicon-remove"></span>
                                                                                    </td>
                                                                                    
                                                                                </tr>
                                                                                
                                                                            
                                                                        </table>
                                                                        <div  class="col-md-12 text-right"><button type="button" class="btn btn-default btn-sm" ng-click="add_forma_pago(dato)">
                                                                          <span class="glyphicon glyphicon-plus"></span> Añadir forma de pago
                                                                        </button>
                                                                        </div>
                                                                        
                                                                      </div>
                                                                    </div>       
                            </div>
                            </div><br />
                            <div class="row" ng-if = "(tipo_pago == 0 || tipo_pago == 1) && flag == 0">
                            
                               <div class="col-md-12">
                               <div class="panel panel-success">
                                                                      <div class="panel-heading">
                                                                        <h3 class="panel-title">Vencimientos:</h3>
                                                                      </div>
                                                                      <div class="panel-body">
                                                                         
                                                                        <table style="font-size: 12px" class="table table-striped table-bordered table-hover">
                                                                                <thead style="font-size: 11px">
                                                                                <tr>
                                                                                    
                                                                                    <th class="center" >FECHA</th>
                                                                                    <th class="center" >VALOR</th>
                                                                                    <th class="center">COMENTARIO</th>
                                                                                    
                                                                                                                    
                                                                                </tr>
                                                                            </thead>
                                                                            
                                                                                <tr ng-repeat="vencimiento in array_vencimientos" data-dismiss="modal">
                                                                                    
                                                                                    <td class="center">
                                                                                        {{vencimiento.fecha}}
                                                                                    </td>
                                                                                    <td style="text-align: right;">
                                                                                        {{vencimiento.valor}}
                                                                                    </td>
                                                                                    <td class="center">
                                                                                    {{vencimiento.comentario}}
                                                                                        
                                                                                    </td>
                                                                                   
                                                                                                                                                                        
                                                                                </tr>
                                                                                <tr data-dismiss="modal">
                                                                                    
                                                                                    <td style="text-align: right;">
                                                                                        <b>Suma</b>
                                                                                    </td>
                                                                                    <td style="text-align: right;">
                                                                                        <b>{{suma_vencimientos}}</b>
                                                                                    </td>
                                                                                    <td class="center">
                                                                                    
                                                                                        
                                                                                    </td>
                                                                                   
                                                                                                                                                                        
                                                                                </tr>
                                                                                
                                                                            
                                                                        </table>
                                                                        
                                                                        
                                                                      </div>
                                                                    </div>       
                            </div>
                            </div>

                            <div class="col-md-offset-5" ng-if="flag == 0">
                             <button ng-click="facturar()" type="button" ng-disabled = "deshabilitar_boton_fact" class="btn btn-success">
                                  <span class="glyphicon glyphicon-save"></span> Procesar Factura
                                </button>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</div>
<div ng-include src="base_url + '../../client/src/app/facturacion_pedidos/views/modal_cliente.html'"></div>
<div ng-include src="base_url + '../../client/src/app/facturacion_pedidos/views/modal_producto.html'"></div>