<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Facturación de Pedidos</div>
                <div class="panel-body">                                              
                            <div class="row">
                            
                            <div class="col-md-3">
                                <label for="clientes" class="black bolder">Nombre</label>
                                    <input
                                        id="nombre_cliente"
                                        name="nombre_cliente"
                                        type="text"
                                        class="form-control"                                        
                                        ng-model="nombre_cliente"                                       
                                        required />
                            </div>
                            <div class="col-md-3">
                                <label for="tipo" class="black bolder">Codigo</label>
                                        <input
                                        id="codigo_cliente"
                                        name="codigo_cliente"
                                        type="text"
                                        class="form-control"                                        
                                        ng-model="codigo_cliente"                                       
                                        required />
                            </div>

                            <div class="col-md-3">
                                <label for="tipo" class="black bolder">Pedido</label>
                                    <input
                                        id="pedido"
                                        name="pedido"
                                        type="text"
                                        class="form-control"                                        
                                        ng-model="pedido"                                       
                                        required />
                            </div>

                            <div class="col-md-3">
                                 <label for="tipo" class="black bolder">&nbsp;</label>
                                 <span class="col-md-12">
                                <button class="btn btn-primary col-md-offset-1" ng-click="buscar()"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                                <button class="btn btn-primary col-md-offset-1" ng-click="refresh()"><span class="glyphicon glyphicon-trash"></span> Limpiar</button>
                                        
                                    </span>
                            
                           </div>
                             


                        </div>

                        <div class="row">
                            <p align="center">
                               <br />
                            </p>
                            
                    <table style="cursor:pointer;" class="table table-striped table-bordered table-hover" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th class="center">Codigo</th>
                                <th class="center">Nombre</th>
                                <th class="center">RUC / CI</th>                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr  ng-click= "abrir_pedidos(dato_pedido.codcte30,dato_pedido.condpag30)" class="rowlink" ng-repeat="dato_pedido in datos_pedidos" data-dismiss="modal">

                                <td class="center">{{dato_pedido.codcte30}}</td>
                                <td class="center">{{dato_pedido.nomcte30}}</td>
                                <td class="center">{{dato_pedido.codcte30}}</td>                                
                                
                            </tr>
                        </tbody>  
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>