body{
    background: #C6C6C6 !important;
}

.container-fluid{
    margin: 0 auto !important;
}

/* Panel */
.panel-heading {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  color: #000 !important;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #6699CC !important;
  border-color: #6699CC !important;
}

.panel-body{
    background: #f0f0f0 !important;
}

/* Table */
.table-bordered {
  border: 1px solid #DDDDDD;
}

.table th {
  background-color: #6699CC !important;
  font-weight: bold;
  text-transform: uppercase;
}

table {
    table-layout:fixed;
}

.div-table-content {
  height: 450px;
  overflow-y:auto;
}

/* Label */
label {
    font-weight: normal;
    font-size: 14px;
}

label, .lbl {
    vertical-align: middle;
}

/* Input */
.form-group select,textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border-radius: 0!important;
    color: #858585;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px;
    line-height: 1.2;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* Col- Group Input */
.input-group[class*="col-"] {
    padding-left: 14px !important;
    padding-right: 14px !important;
}
