
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Configuraci&oacute;n de producto de venta</div>
                <div class="panel-body">
                    <h4>Producto final: {{nombre_producto}}</h4>
                     <form class="form-horizontal" name="cat_prod_final_form" role="form" ng-submit="save()" >
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="cate">Categorias :</label>
                            <div class="col-sm-2  control-group">
                               
                                    <select chosen
                                            
                                            id="categorias_producto_final" 
                                            name="cate"
                                            ng-model="categorias_producto_final_"
                                            data-placeholder="Seleccione una categoria"
                                            class="form-control"                                            
                                            ng-options="configurar_producto_venta as configurar_producto_venta.desccate for configurar_producto_venta in categorias_producto_final">
                                        <option value=""></option>
                                    </select>
                                
                            </div>  

                            <label class="col-sm-2 control-label" for="local_nombre">Cantidad:</label>
                            <div class="col-sm-2 to-validate control-group" >
                               
                                    <input
                                        id="cantidad"
                                        name="cantidad"
                                        decimal
                                        class="form-control"                                        
                                        ng-model="cantidad_"                                        
                                         />
                                
                            </div>                         

                            


                            <div class="col-sm-2  control-group" >
                               
                                    <a  class="btn btn-primary" ng-click="addCategory()"> <span class="glyphicon glyphicon-plus"  ></span> Añadir</a>
                                
                            </div>


                        </div>
                       

                        <div class="form-group">
                            <table class="table table-striped">
                                <thead>
                                    <tr><th class="text-center  col-sm-3">Cod. Cat.</th>
                                        <th class="text-center  col-sm-3">Categor&iacute;a</th>
                                        <th class="text-center  col-sm-3">Cantidad</th>
                                        
                                        <th class="text-center  col-sm-3">Acciones</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cate_prod in cate_prod_final track by $index" >
                                        <td class="text-center  col-sm-3">                                            
                                            <span class="text-center">{{cate_prod.codigo}}</span>
                                        </td>
                                        <td class="text-center">
                                             <span class="text-center">{{cate_prod.descripcion}}</span>
                                        </td>
                                        <td class="text-center  col-sm-3">

                                             <input type="text" decimal class="text-center"  ng-model="cate_prod.cantidad" />
                                            
                                            </td>
                                        
                                        <td class="text-center"><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeCategory($index)"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="space-4"></div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-5">
                                <button type="submit" class="btn btn-primary" >Guardar</button>
                                <a ng-href="" ng-click="cancelar()" class="btn btn-danger">
                                    <i class="icon-ok bigger-110"></i>
                                    Limpiar
                                </a>

                                <a ng-href="" ng-click="salir()" class="btn btn-default">
                                    <i class="icon-ok bigger-110"></i>
                                    &nbsp;&nbsp;&nbsp;Salir&nbsp;&nbsp;&nbsp;
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

