<style type="text/css">
.scroll {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Creador de Recetas</div>
                <div class="panel-body">
                <form class="form-horizontal" name="creador_recetas_form" role="form" ng-submit="guardar_recetas()" >
                	<div class="form-group">
                            <label class="col-sm-1 control-label" for="cate">Productos:</label>
                            <div class="col-sm-3  control-group">
                               
                                    <select chosen
                                            
                                            id="productos_con_receta" 
                                            name="productos_con_receta"
                                            ng-model="producto_con_receta_"
                                            data-placeholder="Seleccione un producto"
                                            class="form-control"                    
                                            ng-change= "buscar_receta()"                        
                                            ng-options="producto_receta as producto_receta.descripcion for producto_receta in productos_con_receta">
                                        <option value=""></option>
                                    </select>
                            </div>
                        <label class="col-sm-1 control-label" for="cate">Cocina:</label>
                            <div class="col-sm-3  control-group">
                               
                                    <select chosen
                                            ng-model="tipo_cocina_"
                                            data-placeholder="Tipo Cocina"
                                            class="form-control"                    
                                            ng-change= ""                        
                                            ng-options="cocina.codigo_cocina as cocina.nombre_cocina for cocina in tipos_cocina">
                                        <option value=""></option>
                                    </select>
                            </div> 
                     	<label class="col-sm-1 control-label" for="cate">Sirve a :</label>
                     	<div class="col-sm-2 to-validate control-group" > 
                            <input
                                id="cantidad"
                                name="cantidad"
                                decimal
                                class="form-control text-right"                                        
                                ng-model="_cantidad_a_servir" 
                                ng-keyup="recalcular_cantidades()"
                                value = '1'
                                min="0"
                                 />
                                
                        </div>  
                     </div> 
                     <div class="form-group scroll">
                        <table class="table table-hover">
                        <thead> 
                        <tr> 
                            <th data-width='10px'></th> 
                            <th><h6>Ingrediente</h6></th> 
                            <th><h6>Cant. Unitaria</h6></th> 
                            <th><h6>U.M.</h6></th>
                            <th><h6>Cant. Total</h6></th> 
                            <th><h6>U.M.</h6></th> 
                            <th><h6>Costo Unitario</h6></th> 
                            <th><h6>Costo Total</h6></th> 
                        </tr> 
                        </thead>
                        <tbody >
                            <tr ng-repeat="receta in receta_producto" ng-if="mostrar_receta.value" >
                                <td><button type="button" ng-click="eliminar_ingrediente($index, receta)" 
                                class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
                                <td><small>{{ receta.descripcion_ingrediente }}</small></td>
                                <td>
                                <input
                                decimal-lenght
                                class="form-control text-right"                                        
                                ng-model=" receta.cantidad_ingrediente " 
                                min="1"
                                ng-
                                ng-keyup="calcular_cant_total(receta)"
                                number
                                 />
                                 </td>
                                <td>
                                <select                                             
                                            ng-model="receta.unidad_medida"
                                            ng-change= "calcular_cant_total(receta)"
                                            ng-options="u_medida.id_um as u_medida.unidad_medida_secundaria for u_medida in umedidas"
                                            ng-required="receta.unidad_medida"
                                            required
                                            >
                                </select>
                                </td>
                                <td>
                                <input
                                decimal-lenght
                                class="form-control text-right"                                        
                                ng-model="receta.cantidad_total" 
                                ng-keyup="calcular_cant_unitaria(receta)"
                                min="1"
                                 />
                                 </td>
                                <td>
                                <select                                             
                                            ng-model="receta.unidad_medida"
                                            ng-change= "calcular_cant_unitaria(receta)"
                                            ng-options="u_medida.id_um as u_medida.unidad_medida_principal for u_medida in umedidas" 
                                            required>
                                    </select>
                                </td>
                                <td><div style='text-align:right'>$ {{ receta.costo_ingrediente }} </div></td>
                                <td><div style='text-align:right'>$ {{ receta.costo_total }}</div></td>
                              </tr>
                              <tr ng-if="!mostrar_receta.value">
                                <td colspan="8"><div style='text-align:center'>{{ mensaje_receta }}</div></td>
                              </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5"></td>
                                <td><div style='text-align:right'>Totales: </div></td>
                                <td><div style='text-align:right'>$ {{ total_receta_por_unidad }}</div></td>
                                <td><div style='text-align:right'>$ {{ total_receta }}</div></td>
                            </tr>
                        </tfoot>
                        </table>
                    </div>
                     <div class="col-sm-3">
                                <div class="input-group">
                                    <button type="button" class="btn btn-success" data-toggle="modal" 
                                    data-target="#{{modal_buscar_producto}}" ng-click="eligio_producto()">+ Ingredientes</button>
                                </div>
                    </div>
                    <div class="clearfix form-actions">
                            <div class="col-md-offset-5">
                                <button type="submit" class="btn btn-primary" ng-disabled="">Guardar</button>
                                <a ng-href="" ng-click="cancelar_guardar()" class="btn btn-danger">
                                    Cancelar
                                </a>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Exportar <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li><a ng-href="" ng-click="imprimir_receta()">PDF</a></li>
                                    <li><a ng-href="" ng-click="imprimir_excel()">Excel</a></li>
                                  </ul>
                                </div>

                            </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="base_url + '../../client/src/app/creador_recetas/views/modal_productos.html'"></div>

