<style type="text/css">
    .chosen-container, .chosen-container-single {width: 100% !important;}
    .modal-dialog {
        width: 900px !important;
        }
    .modal-header {
      padding: 5px;
      border-bottom: 1px solid #e5e5e5;
    }
    .th-eliminar{ width: 25px !important }
    .scroll {
        width: 100%;
        max-height: 320px;
        overflow-y: scroll;
        overflow-x: hidden;
        }
        .text-white {
            color: white;
        }
</style>
<div modal="modal_recetas" id="modal_recetas">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close glyphicon cursor-crosshair" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center text-white">{{titulo}} {{producto_seleccionado.name_product}} OPCION {{ numOpcion }}</h4>
            </div>

            <div class="modal-body">
                
                <uib-tabset>
                <uib-tab  ng-repeat="categoria in categorias_producto_final track by categoria.codigo" heading="{{categoria.descripcion}}" select="cargar_receta(categoria)"> 
                <div class="row">               
                <div class="form-group">
                    <br />
                <label class="col-sm-2 control-label">Productos:</label>
                <div class="col-sm-4  control-group">                    
                    <select chosen
                            ng-model="producto_receta_.value"
                            data-placeholder="Seleccione un producto"
                            class="form-control chosen-select"                    
                            ng-change= "buscar_receta(); data_id_receta(producto_receta_);"                        
                            ng-options="producto_receta.codigo as producto_receta.descripcion for producto_receta in productos_con_receta">
                            <option value=""></option>



                    </select>

                    

                </div>
                    
                <div class="col-sm-1 text-left">
                    
                        <a ng-if = "btnAddOption === 0" title="actualizar opcion" ng-click="addOption()" class="btn btn-warning" role="button">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> </a>
                            <a ng-if = "btnAddOption === 1" title="actualizar opcion" ng-click="updateOption(receta_opcion,numOpcion)" class="btn btn-warning" role="button">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> </a>
                </div>
                <div style="font-size:12px;" class="col-sm-5 text-center">
                    
                    <b>Cocina:</b> {{ tipo_cocina_ }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sirve a:</b> {{ _cantidad_a_servir }}</div>                   
                     
                </div>
                
                </div> 
                <br />
                <div class="form-group scroll">
                        <table class="table table-hover">
                        <thead> 
                        <tr> 
                            <th class="th-eliminar"></th> 
                            <th><h6>Ingrediente</h6></th> 
                            <th><h6>Cant. Unitaria</h6></th> 
                            <th><h6>U.M.</h6></th>
                            <th><h6>Cant. Total</h6></th> 
                            <th><h6>U.M.</h6></th> 
                            <th><h6>Costo Unitario</h6></th> 
                            <th><h6>Costo Total</h6></th> 
                        </tr> 
                        </thead>
                        <tbody >
                            <tr ng-repeat="receta in receta_producto">
                                <!-- <td><button type="button" ng-click="eliminar_ingrediente($index, receta)" 
                                class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td> -->
                                <td>
                                    <span class="glyphicon glyphicon-remove"
                                      title="Borrar Cantidades" 
                                      ng-click="eliminar_ingrediente($index, receta)">
                                    </span>
                                </td>
                                <td><small>{{ receta.descripcion_ingrediente }}</small></td>
                                <td>
                                <input
                                decimal-lenght
                                class="form-control text-right"                                        
                                ng-model=" receta.cantidad_ingrediente " 
                                min="1"
                                ng-
                                ng-keyup="calcular_cant_total(receta)"
                                number
                                 />
                                 </td>
                                <td>
                                <select                                             
                                            ng-model="receta.unidad_medida"
                                            ng-change= "calcular_cant_total(receta)"
                                            ng-options="u_medida.id_um as u_medida.unidad_medida_secundaria for u_medida in umedidas"
                                            ng-required="receta.unidad_medida"
                                            required
                                            >
                                </select>
                                </td>
                                <td>
                                <input
                                decimal-lenght
                                class="form-control text-right"                                        
                                ng-model="receta.cantidad_total" 
                                ng-keyup="calcular_cant_unitaria(receta)"
                                min="1"
                                 />
                                 </td>
                                <td>
                                <select                                             
                                            ng-model="receta.unidad_medida"
                                            ng-change= "calcular_cant_unitaria(receta)"
                                            ng-options="u_medida.id_um as u_medida.unidad_medida_principal for u_medida in umedidas" 
                                            required>
                                    </select>
                                </td>
                                <td><div style='text-align:right'>$ {{ receta.costo_ingrediente }} </div></td>
                                <td><div style='text-align:right'>$ {{ receta.costo_total }}</div></td>
                              </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5"></td>
                                <td><div style='text-align:right'>Totales: </div></td>
                                <td><div style='text-align:right'>$ {{ total_receta_por_unidad }}</div></td>
                                <td><div style='text-align:right'>$ {{ total_receta }}</div></td>
                            </tr>
                        </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-1 col-sm-offset-1">
                            <div class="input-group">

                                <button type="button" class="btn btn-success" ng-click="buscar_ingredientes()"><span class="glyphicon glyphicon-plus"></span> Ingredientes</button>
                            </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-5">
                            <div class="btn-group dropup">
                          <button  ng-disabled="!modificar_receta.value || numero_produccion.value ===''" ng-click="guardar_receta_produccion()" class="btn btn-default" role="button">
                            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Receta Producci&oacute;n</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a ng-click="guardar_receta_producto()">
                            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Receta Producto</a></li>
                          </ul>
                        </div>
                        </div>
                        <div class="col-sm-1 col-sm-offset-1">
                            <button id = "btnDescartar" type="button" class="btn btn-danger" data-dismiss="modal">Descartar</button>
                        </div>
                    </div>

                </uib-tab>
                </uib-tabset>
                </div>
            </div> 
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
