<style type="text/css">
    .modal-body, buscador_cuentas_contables_form {
        font-size:12px !important;
    }
    .modal-header {
        background: #336699 !important;
    }
    tr:hover {
        background-color: #336699 !important;
        cursor: pointer !important;
    }
    tr:hover td {
        background-color: transparent  !important; /* or #000 */
    }
</style>
<div modal="modal_buscar_cliente" hide-on-submit="{{cerrar_modal}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close glyphicon cursor-crosshair" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center black bolder">BUSQUEDA CLIENTES</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <form name="buscador_de_clientes_form" ng-submit="buscar_clientes(true,obj_opcion)" class="form-horizontal" role="form">
                        <div class="col-sm-9">
                            <div class="col-sm-6">
                                <label for="descripcion" class="black bolder">Descripci&oacute;n</label>
                                <div class="input-group">
                                    <input type="text" id="descripcion" ng-model="parametros_de_busqueda.nombre" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="codigo" class="black bolder">C&oacute;digo:</label>
                                <div class="input-group">
                                    <input type="text" id="codigo" ng-model="parametros_de_busqueda.id" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <label for="nombre_cliente" class="black bolder">&nbsp;</label>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="space-10"></div>

                <div class="row">
                    <table class="table table-striped table-bordered table-hover" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th class="center">Descripci&oacute;n</th>
                                <th class="center">C&oacute;digo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="rowlink" ng-repeat="cliente in clientes" ng-click="addClient(cliente,numOpcion)" data-dismiss="modal">
                                <td class="text-center">{{cliente.nomcte01}}</td>
                                <td class="text-center">{{cliente.codcte01}}</td>
                            </tr>
                        </tbody>  
                    </table>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Descartar</button>
            </div>  
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
