<style type="text/css">
.scroll {
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Plan Diario {{numero_produccion.value}}</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="" role="form" ng-submit="guardar()"  novalidate="">
                        <div class="form-group">
                            <div class="col-sm-3 to-validate" >
                                <label for="day">Dia</label>
                                <p class="input-group">
                                    <input class="form-control" uib-datepicker-popup id="week" ng-model="week" 
                                           is-open="open.week" min-date="minDate" max-date="maxDate"
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="changeDay()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <label for="tipo" class="">Categoria de Clientes</label>
                                    <select chosen
                                            required
                                            ng-model="categoria_seleccionada"
                                            data-placeholder="Seleccione la Categoria"
                                            class="form-control"                    
                                            ng-change= "buscar_productos_dia()"                        
                                            ng-options="categoria as categoria.desccate for categoria in categorias">
                                        <option value=""></option>
                                    </select>
                            </div>
                            <div class="col-md-3">
                                <label for="productos" class="">Productos</label>
                                    <select chosen                                        
                                            required
                                            ng-model="producto_seleccionado"
                                            data-placeholder="Seleccione Producto"
                                            class="form-control"
                                            ng-change="Cargar_plan_producto()"
                                            ng-options="producto_plan_diario as producto_plan_diario.name_product for producto_plan_diario in productos_plan_diario">
                                            <option value=""></option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-11 text-right">


                        



                        <a data-toggle="modal" data-target="#{{modal_recetas}}"  class="btn btn-default btn-sm" ng-click="add_nueva_receta()">
                                                <span class="glyphicon glyphicon-plus cursor-crosshair" 
                                                      aria-hidden="true" data-toggle="tooltip" title="Agregar opci&#243;n"></span> Agregar opci&#243;n

                                                  </a>
                                                   
                                                  <a ng-click = "calcular_costo_diario(day,tabla)"  class="btn btn-default" >
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    
                                    Costo: {{costo_diario | currency:'$'}}
                                </a>


                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle"
                                  data-toggle="dropdown">
                            Producci&oacute;n <span class="caret"></span>
                          </button>
                         
                          <ul class="dropdown-menu" role="menu">                            
                            <li><a ng-click="requisicion()">Requisiciones</a></li>
                            <li><a ng-click="pdf_requisicion()">PDF Requisiciones</a></li>
                            <li><a ng-click="get_estado_requisiciones()">Estado Requisiciones</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="producir()">Producir</a></li>
                          </ul>
                        </div>
                        

                                  </div><br /><br />
                        
                                 <uib-tabset>
                            <uib-tab  heading="{{nombre_producto.name_product}}" >
                            <div class="form-group scroll">
                                <div class="panel-group col-sm-12" id="accordion{{$index}}" role="tablist" aria-multiselectable="true">
                                    
                                    <div class="panel panel-default col-sm-12" ng-repeat="opcion in datos_plan_diario track by $index">
                                        <div class="collaspse panel-heading" role="tab" id="heading{{$index}}">
                                            <h4 class="panel-title">
                                                <span class="glyphicon glyphicon-minus"  aria-hidden="true" 
                                                      title="Eliminar opci&oacute;n" 
                                                      ng-click="removeItem(opcion)"></span>
                                                <a role="button" ng-click="$event.preventDefault()" id="btn" 
                                                   data-toggle="collapse" class="in-collapse in-line" 
                                                   data-parent="#accordion{{$index}}" href="#collapse{{dayIndex}}{{$index}}" 
                                                   aria-expanded="true" aria-controls="collapse{{$index}}">
                                                    <span class="text-center">Opcion </span>
                                                    <span class="text-center">{{opcion.code}} <span class="glyphicon glyphicon-arrow-right"></span>  
                                                    <a title ="{{opcion.string_recetas}}" style="cursor: pointer" data-toggle="modal" ng-click="mostrar_recetas(opcion)"
                                                    data-target="#{{modal_recetas}}">
                                                  <span class="glyphicon glyphicon-list"></span>


                                                </a></span>
                                                    
                                                </a>
                                                  
                                                    <span id="op{{opcion.code}}" class="pull-right"></span>
                                            </h4>
                                        </div>
                                        <div id="collapse{{dayIndex}}{{$index}}" class="panel-collapse collapse in" 
                                             role="tabpanel" aria-labelledby="heading{{$index}}">
                                            <div class="panel panel-default  col-sm-12 text-center" 
                                                  
                                                 ng-class='{true : "col-sm-12", false:"col-sm-12"}[$index % 2 == 0]'>
                                                
                                                <div class="col-sm-12" ng-repeat="(keycliente, cliente) in opcion.clientes">
                                                    
                                                    
                                                    <label class="col-sm-3 control-label" ><br />{{cliente.name}} <!--(Recetas: <a title ="{{option.string_recetas}}"><span class="glyphicon glyphicon-list"></span></a>)--></label>
                                                    <div class="col-sm-9 to-validate" >

                                                        
                                                        
                                                        <p class="input-group">


                                                            
                                                            <span class="input-group-lg col-sm-3">
                                                                <label ng-if = "keycliente === 0">
                                                                       Cant.Producir
                                                                </label>
                                                                <label ng-if = "keycliente != 0">
                                                                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </label>
                                                                <input type="text" class="col-sm-12 text-right" ng-model="cliente.cantidad" decimal />
                                                            </span>

                                                            <span class="input-group-lg col-sm-3">
                                                                 <label ng-if = "keycliente === 0" >
                                                                Cant.Dispatch
                                                            </label>
                                                            <label ng-if = "keycliente != 0" >
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </label>
                                                                <input type="text" class="col-sm-12 text-right" ng-model="cliente.cantidad_dispatch" decimal disabled />
                                                            </span>
                                                            <span class="input-group-lg col-sm-3">
                                                                 <label ng-if = "keycliente === 0">
                                                                Cant.Entregada
                                                            </label>
                                                            <label ng-if = "keycliente != 0">
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </label>
                                                                <input type="text" class="col-sm-12 text-right" ng-model="cliente.cantidad_entregada" decimal disabled />
                                                            </span>
                                                            <span class="input-group-lg col-sm-3">
                                                                <label  class="col-sm-6">&nbsp;</label>
                                                                <span class="col-sm-12 glyphicon glyphicon-remove-circle" aria-hidden="true" 
                                                                      title="Eliminar cliente" 
                                                                      ng-click="removeItem(opcion,cliente)">

                                                                  
                                                                  </span>
                                                              </span>
                                                        </p>
                                                    </div>
                                               </div>
                                                <a  class="btn btn-success btn-sm" data-toggle="modal" ng-click="buscar_clientes(false,opcion)"
                                          data-target="#{{modal_buscar_cliente}}" aria-hidden="true" title="Agregar Cliente">
                                    <span class="glyphicon glyphicon-plus cursor-crosshair " ></span>
                                    Agregar Cliente
                                      </a><br /><br />
                                            </div>
                                        </div>
                                        
                                    </div>

                                </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>


                        <div class="panel panel-success">
                          <div class="panel-heading">
                            <h3 class="panel-title">Totales Diarios</h3>
                          </div>
                          <div class="panel-body">
                            Contenido del panel
                          </div>
                        </div>
                        
                        

                        <!--<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                            <a href="" ng-click="" class="btn btn-default" role="button">Guardar</a>
                            <a href="" ng-click="" class="btn btn-default" role="button">PDF Requisiciones a bodega</a>
                            <a href="" ng-click="" class="btn btn-default" role="button">Imprimir Plan Diario</a>
                        </div>-->

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-5">
                                <button id="btnGuardar" type="submit" class="btn btn-primary" >Guardar</button>
                                <a ng-href="" ng-click="cancelar()" class="btn btn-danger" >
                                    <i class="icon-ok bigger-110"></i>
                                    cancelar
                                </a>

                                
                            </div>
                        </div>
                    </form>
                    <!--<button ng-click="imprimir()">print</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="base_url + '../../client/src/app/plan_diario/views/modal_clientes.html'"></div>
<div ng-include src="base_url + '../../client/src/app/plan_diario/views/modal_recetas.html'"></div>
<div ng-include src="base_url + '../../client/src/app/plan_diario/views/modal_productos.html'"></div>
