<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Configurador de Medidas</div>
                <div class="panel-body">
                    <div class="form-group">
                    <div class="row">
                        <form name="buscador_umedidas_form" ng-submit="buscar_umedidas()" class="form-horizontal" role="form" autocomplete="off">
                            <div class="col-sm-6">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <label for="descripcion" class="black bolder">U. M. Principal</label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="descripcion" placeholder="Buscar..." ng-model="parametros_de_busqueda.nombre_umedida" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-sm-3">
                                <div class="input-group">
                                    <button type="submit" class="btn btn-success" data-toggle="modal" 
                                    data-target="#modal_umedida">+</button>
                                </div>
                            </div>
                        
                    </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-hover">
                        <thead> 
                        <tr> 
                            <th><h6>#</h6></th> 
                            <th><h6>U.M. Principal</h6></th> 
                            <th><h6>Abreviatura</h6></th> 
                            <th><h6>U.M. Secundaria</h6></th>
                            <th><h6>Abreviatura</h6></th> 
                            <th><h6>Equivalencia</h6></th> 
                        </tr> 
                        </thead>
                        <tbody>
                            <tr ng-repeat="medida in umedidas">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ medida.unidad_medida_principal }}</td>
                                <td>{{ medida.abreviatura_um_principal }}</td>
                                <td>{{ medida.unidad_medida_secundaria }}</td>
                                <td>{{ medida.abreviatura_um_secundaria }}</td>
                                <td><div style='text-align:right'>{{ medida.equivalencia }}</div></td>
                                <td><button type="button" class="btn btn-primary" data-toggle="modal" 
                                    data-target="#modal_editar_umedida" ng-click="cargar_datos(medida)"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button type="button" ng-click="eliminar_um(medida)" 
                                class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
                              </tr>
                        </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include src="base_url + '../../client/src/app/configurador_umedidas/views/modal.html'"></div>
<div ng-include src="base_url + '../../client/src/app/configurador_umedidas/views/modal_editar.html'"></div>