<style type="text/css">
    .modal-body {
        font-size:12px !important;
    }
    .modal-header {
        background: #336699 !important;
    }
    tr:hover {
        background-color: #336699 !important;
        cursor: pointer !important;
    }
    tr:hover td {
        background-color: transparent  !important; /* or #000 */
    }
</style>
<div modal="modal_umedida" hide-on-submit="{{cerrar_modal}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close glyphicon cursor-crosshair" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center black bolder">INGRESAR UNIDADES DE MEDIDA</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" name="umedidas_form" role="form" ng-submit="guardar_umedida()" autocomplete="off">
                    <div class="row">
                    <div class="form-group">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-4">
                                    <label for="um_principal_nombre" class="black bolder">* U. M. Principal</label>
                                </div>
                                <div class="col-m-6">
                                    <div class="input-group">
                                        <input
                                        id="um_principal_nombre"
                                        name="um_principal_nombre"
                                        type="text"
                                        class="form-control"
                                        ng-model="modal_guardar.um_principal_nombre"
                                        ng-keyup=""
                                        placeholder="Ej: KILOGRAMO"
                                        required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>     
                    <div class="row">
                    <div class="form-group">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-4">
                                    <label for="descripcion" class="black bolder">* Abreviatura</label>
                                </div>
                                <div class="col-m-1">
                                    <div class="input-group">
                                        <input
                                        id="um_principal_abreviatura"
                                        name="um_principal_abreviatura"
                                        type="text"
                                        class="form-control"
                                        ng-model="modal_guardar.um_principal_abreviatura"
                                        ng-keyup=""
                                        required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      
                    <div class="row">          
                        <div class="form-group">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-9">
                                <label >Unidad Secundaria </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4" >
                            <label for="descripcion" class="black bolder"><small>* Nombre</small></label>
                                <div class="input-group">
                                    <input
                                        id="um_secundaria_nombre"
                                        name="um_secundaria_nombre"
                                        type="text"
                                        class="form-control"
                                        placeholder="Ej: GRAMO"
                                        ng-model="modal_guardar.um_secundaria_nombre"
                                        ng-keyup=""
                                        required />
                                </div>
                        </div>
                        <div class="col-sm-4" >
                            <label for="abreviatura" class="black bolder"><small>* Abreviatura</small></label>
                                <div class="input-group">
                                    <input
                                        id="um_secundaria_abreviatura"
                                        name="um_secundaria_abreviatura"
                                        type="text"
                                        class="form-control"
                                        
                                        ng-model="modal_guardar.um_secundaria_abreviatura"
                                        ng-keyup=""
                                        required />
                                </div>
                        </div>
                        <div class="col-sm-4">
                                <label for="equivalencia" class="black bolder"><small>* Equivalencia</small></label>
                                <div class="input-group">
                                    <input
                                        id="equivalencia"
                                        name="equivalencia"
                                        type="text"
                                        class="form-control text-right"
                                        
                                        ng-model="modal_guardar.equivalencia"
                                        ng-keyup=""
                                        decimal
                                        required />
                                </div>
                        </div>
                    </div>
                    <div class="space-4"></div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-5">
                                <button type="submit" class="btn btn-primary" ng-disabled="">Guardar</button>
                                <a ng-href="" ng-click="cancelar_guardar()" class="btn btn-danger">
                                    Limpiar
                                </a>
                            </div>
                        </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            </div>  
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
