<style type="text/css">
.scroll {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Detalle Orden Produccion N: {{ orden_produccion }}</div>
                <div class="panel-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="panel panel-default">
                      <div class="panel-body">

                        <form class="form-horizontal">
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Producto: </label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="" placeholder="Seleccione un Producto" ng-model="_producto" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Cantidad: </label>
                        <div class="col-sm-10">
                          <input decimal type="number" class="form-control" id="" placeholder="Cantidad" ng-model="_cantidad" min="1">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Observacion: </label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="" placeholder="Observacion" ng-model="_observacion" min="1">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <!-- <button ng-click="try_adding_a_branch()" class="btn btn-default btn-sm">Agregar</button> -->
                            <button type="button" ng-click="try_pre_solicitar()" class="btn btn-info btn-sm">Solicitar</button>
                        </div>
                      </div>
                    </form>


                      </div>
                    </div>

                  </div><!-- /.col-lg-6 -->
                  <div class="col-lg-6 scroll">
                    <div class="panel panel-default">
                        <div class="panel-body">
                        <div style="width:250px;margin-left:100px;background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
                          <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="1" initial-selection="" icon-leaf= "glyphicon glyphicon-apple"></abn-tree>
                        </div>
                        </div>
                    </div>

                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>

     <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body scroll">
                <form class="form-horizontal" name="" role="form"  novalidate="">
                 <table class="table table-hover">
                        <thead> 
                        <tr> 
                            <th></th> 
                            <th><h6>Producto</h6></th> 
                            <th><h6>Cantidad</h6></th> 
                        </tr> 
                        </thead>
                        <tbody >
                            <tr ng-repeat="producto in productos_requeridos">
                                <td><button type="button" ng-click="eliminar_ingrediente($index, producto)" 
                                class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
                                <td><small>{{ producto.descripcion }}</small></td>
                                <td><small>{{ producto.cantidad_solicitada }}</small></td>
                              </tr>
                        </tbody>
                        </table>
                    
                </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix form-actions">
            <div class="col-md-offset-5">
                <a ng-href="" ng-click="generar_requisicion()" class="btn btn-info" >
                    Generar Requisicion
                </a>
                <a ng-href="" ng-click="cancelar()" class="btn btn-default">
                    Cancelar
                </a>
            </div>
    </div>

</div>

