<style type="text/css">
.scroll {
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Ordenes Produccion</div>
                <div class="panel-body">
                <form class="form-horizontal" name="" role="form"  novalidate="">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="day">Plan Diario</label>
                        <div class="col-sm-3" >
                            <p class="input-group">
                                <input class="form-control" uib-datepicker-popup id="week" ng-model="week" 
                                       is-open="open.week" min-date="minDate" max-date="maxDate"
                                       datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="changeDay()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <a ng-href="" ng-click="buscar_orden_produccion()" class="btn btn-info" >
                                    <i class="icon-ok bigger-110"></i>
                                    Buscar
                                </a>
                        </div>
                    </div>
                    <div class="form-group scroll">
                        <table class="table table-hover">
                        <thead> 
                        <tr> 
                            <th><h6>Orden Produccion</h6></th> 
                            <th><h6>Cliente</h6></th>
                            <th><h6>Fecha Creacion</h6></th> 
                            <th><h6>Fecha Plan Diario</h6></th> 
                        </tr> 
                        </thead>
                        <tbody >
                            <tr ng-repeat="orden in ordenes_produccion" ng-if="mostrar_listado.value" 
                            ng-click="abrir_orden_produccion(orden.nopedido30)">

                                <td><small>{{ orden.nopedido30 }}</small></td>
                                <td><small>{{ orden.nomcte30 }}</small></td>
                                <td><small>{{ orden.fecpedido30 }}</small></td>
                                <td><small>{{ orden.fecdespacho30 }}</small></td>
                              </tr>
                              <tr ng-if="!mostrar_listado.value">
                                <td colspan="3"><div style='text-align:center'>{{ mensaje_listado }}</div></td>
                              </tr>
                        </tbody>
                        </table>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

