<style type="text/css">
    .accion{
        width: 30px;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Dar de baja pedidos semidespachados</div>
                <div class="panel-body">                                              
                            <div class="row">
                            
                            <div class="col-md-3">
                                <label for="clientes" class="black bolder">Nombre</label>
                                    <input
                                        id="nombre_cliente"
                                        name="nombre_cliente"
                                        type="text"
                                        class="form-control"                                        
                                        ng-model="nombre_cliente"                                       
                                        required />
                            </div>
                            <div class="col-md-3">
                                <label for="tipo" class="black bolder">Codigo</label>
                                        <input
                                        id="codigo_cliente"
                                        name="codigo_cliente"
                                        type="text"
                                        class="form-control"                                        
                                        ng-model="codigo_cliente"                                       
                                        required />
                            </div>

                            <div class="col-md-3">
                                <label for="tipo" class="black bolder">Pedido</label>
                                    <input
                                        id="pedido"
                                        name="pedido"
                                        type="text"
                                        class="form-control"                                        
                                        ng-model="pedido"                                       
                                        required />
                            </div>

                            <div class="col-md-3">
                                 <label for="tipo" class="black bolder">&nbsp;</label>
                                 <span class="col-md-12">
                                <button class="btn btn-primary col-md-offset-1" ng-click="buscar()"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                                <button class="btn btn-primary col-md-offset-1" ng-click="refresh()"><span class="glyphicon glyphicon-trash"></span> Limpiar</button>
                                        
                                    </span>
                            
                           </div> 
                        </div>
                        <div class="row">
                            <p align="center">
                               <br />
                            </p>                            
                    <table class="table table-striped table-bordered table-hover" style="font-size: 11px">
                        <thead>
                            <tr>
                                <th class="center accion"><input type="checkbox" ng-model = "checkItemsAll.value" ng-change = "pedidos_seleccionados(checkItemsAll);"></th>
                                <th class="center">Pedido</th>
                                <th class="center">Fecha</th>
                                <th class="center" style="width: 35%">Cliente</th>
                                <th class="center">RUC / CI</th>
                                <th class="center">Estado</th>
                                <th class="center"></th>                           
                            </tr>
                        </thead>
                        <tbody>
                            <tr  class="rowlink" ng-repeat="dato_pedido in datos_pedidos" data-dismiss="modal">
                                <td><input type="checkbox" ng-model="dato_pedido.checked"></td>
                                <td class="center">{{dato_pedido.nopedido30}}</td>
                                <td class="center">{{dato_pedido.fecpedido30}}</td>                               
                                <td class="center">{{dato_pedido.nomcte30}}</td>
                                <td class="center">{{dato_pedido.codcte30}}</td>
                                <td class="center">{{dato_pedido.estado}}</td>
                                <td class="center accion"> <a style="cursor:pointer" title="ver detalle pedido" ng-click="abrir_pedidos(dato_pedido.nopedido30)"><span class="glyphicon glyphicon-folder-open"></span></a></td>
                            </tr>
                        </tbody>  
                    </table>
                </div>

                <div class="clearfix form-actions">
                        <div class="col-md-offset-5">
                            <a ng-disabled = "btnProcesar" ng-click="procesar();" class="btn btn-success" disabled>
                                <span class="glyphicon glyphicon-floppy-save"></span> Procesar
                            </a>
                            
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

