<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Pre Plan Semanal</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="semana_planificar" role="form" ng-submit="guardar()"  novalidate="">
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="week">Semana :</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input class="form-control" uib-datepicker-popup id="week" ng-model="week" 
                                           is-open="open.week" min-date="minDate" max-date="maxDate"
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="changeWeek()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>

                            <label class="col-sm-1 control-label" for="desde">Desde :</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input class="form-control" ng-model="desde" ng-disabled="true"
                                           id="desde" ng-required="true" close-text="Close" />
                                </p>
                            </div>

                            <label class="col-sm-1 control-label" for="hasta">Hasta :</label>
                            <div class="col-sm-3 to-validate" >
                                <p class="input-group">
                                    <input class="form-control" ng-model="hasta" ng-disabled="true"
                                           id="hasta" ng-required="true" close-text="Close" />
                                </p>
                            </div>
                        </div>
                        <uib-tabset>
                            <uib-tab  ng-repeat="(dayIndex, day) in days track by $index" heading="{{day.name}}" >
                                <div class="panel-group col-sm-12" id="accordion{{$index}}" role="tablist" aria-multiselectable="true">
                                    <div class="alert alert-info" ng-class='{true : "hidde", false:""}[isApproved]'>Pre plan aprobado</div>
                                    <div class="panel panel-default col-sm-12" ng-repeat="client in day.clients track by $index">
                                        <div class="collaspse panel-heading" role="tab" id="heading{{$index}}">
                                            <h4 class="panel-title">
                                                <span class="glyphicon glyphicon-minus" data-toggle="modal" 
                                                      data-target="#modal_eliminar_cliente" aria-hidden="true" 
                                                      title="Eliminar cliente" 
                                                      ng-click="removeItem(day, client)"></span>
                                                <a role="button" ng-click="$event.preventDefault()" id="btn" 
                                                   data-toggle="collapse" class="in collapse in-line" 
                                                   data-parent="#accordion{{$index}}" href="#collapse{{dayIndex}}{{$index}}" 
                                                   aria-expanded="true" aria-controls="collapse{{$index}}">
                                                    <span class="text-center">{{client.code}}</span>
                                                    <span class="text-center">{{client.name}}</span>
                                                    <span style="display: none;" type class="text-center">{{client.contrato}}</span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse{{dayIndex}}{{$index}}" class="panel-collapse collapse in" 
                                             role="tabpanel" aria-labelledby="heading{{$index}}">
                                            <div class="panel panel-default  col-sm-10 text-center" 
                                                 ng-repeat="product in client.products"   
                                                 ng-class='{true : "col-sm-6", false:"col-sm-6"}[$index % 2 == 0]'>
                                                <span class="col-sm-1 glyphicon glyphicon-minus" aria-hidden="true" 
                                                      title="Eliminar producto" 
                                                      ng-click="removeItem(day, client, product)"></span>
                                                <label class="col-sm-11  text-left">{{product.code}} {{product.name}}</label>
                                                <div class="col-sm-12" ng-repeat="option in product.options">
                                                    <label class="col-sm-4 control-label" >Opcion: {{option.option}}</label>
                                                    <div class="col-sm-7 to-validate" >
                                                        <p class="input-group">
                                                            <span class="input-group-lg col-sm-4">
                                                                <input type="text" class="col-sm-12 text-right" ng-model="option.cantidad" decimal />
                                                            </span>
                                                            <span class="col-sm-1 glyphicon glyphicon-remove-circle" aria-hidden="true" 
                                                                  title="Eliminar opci&#243;n" 
                                                                  ng-click="removeItem(day, client, product, option)"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <span class="glyphicon glyphicon-plus cursor-crosshair" 
                                                      aria-hidden="true" data-toggle="tooltip" title="Agregar opci&#243;n" 
                                                      ng-click="addOption(day, client, product)"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 to-validate" >
                                            <span  class="glyphicon glyphicon-plus cursor-crosshair"  title="Agregar producto"
                                                  aria-hidden="true" data-toggle="modal" ng-click="setDataProduct(day, client); buscar_productos(false);" 
                                                  data-target="#modal_buscar_producto" ></span>
                                        </div>
                                    </div>
                                    <span class="glyphicon glyphicon-plus cursor-crosshair" data-toggle="modal"
                                          data-target="#modal_buscar_cliente" aria-hidden="true" title="Agregar Cliente" 
                                          ng-click="setDay(day); buscar_clientes(false);"
                                          ></span>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-5">
                                <button type="submit" class="btn btn-primary" ng-disabled="semana_planificar.$invalid||!isApproved">Guardar</button>
                                <a ng-href="" ng-click="cancelar()" class="btn btn-danger" ng-class="{ 'disabled' : (company_selected === '') }">
                                    <i class="icon-ok bigger-110"></i>
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                    <!--<button ng-click="imprimir()">print</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="base_url + '../../client/src/app/pre_plan/views/modal_cliente.html'"></div>
<div ng-include src="base_url + '../../client/src/app/pre_plan/views/modal_producto.html'"></div>
<style type="text/css">
    .in-line{
        display: inline-block !important;
    }
    tr:hover{
        background-color: #f9f9f9 !important;
    }
    .table-product tr th{
        background-color: rgba(102, 153, 204, 0.72) !important;
    }
    .table-option tr th{
        background-color: rgba(102, 153, 204, 0.42) !important;
    }
    .panel {
        margin-top: 0px !important; 
    }
    .hidde{
        display: none;
    }
</style>
