<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Reporte_dispatch</div>
                <div class="panel-body">                                              
                            <div class="row">
                            <div class="col-md-2">
                                <label for="fdesde" class="black bolder">Dia</label>
                                    <p class="input-group">
                                    <input class="form-control" uib-datepicker-popup id="dayDispatch" ng-model="dayDispatch" 
                                           is-open="open.dayDispatch" min-date="minDate" max-date="maxDate"
                                           datepicker-options="dateOptions" date-format="yyyy/mm/dd"
                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="changeDayDispatch()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <label for="clientes" class="black bolder">Clientes</label>
                                    <select  chosen                                         
                                        ng-model="dispatch_productos.clientes"
                                        data-placeholder="Seleccione el cliente"
                                        class="form-control"                                        
                                        ng-options="dispatch_productos.codcte01 as dispatch_productos.nomcte01 for dispatch_productos in clientes">
                                        <option value=""></option>
                                    </select>
                            </div>
                            <div class="col-md-2">
                                <label for="tipo" class="black bolder">Producto</label>
                                    <select chosen  
                                            ng-model="dispatch_productos.productos"
                                            data-placeholder="Seleccione un producto"
                                            class="form-control"                                            
                                            ng-options="dispatch_productos.codigo as dispatch_productos.descripcion for dispatch_productos in productos">
                                            <option value=""></option>
                                    </select>
                            </div>

                            <div class="col-md-2">
                                <label for="tipo" class="black bolder">Ordenar por</label>
                                    <select chosen 
                                            ng-model="dispatch_productos.filtro_orden"
                                            data-placeholder="Seleccione uno"
                                            class="form-control"                                            
                                            ng-options="dispatch_productos.valor as dispatch_productos.desc for dispatch_productos in filtro_orden">
                                            <option value=""></option>
                                    </select>
                            </div>

                            <div class="col-md-3">
                                 <label for="tipo" class="black bolder">&nbsp;</label>
                                 <span class="col-md-12">
                                <button class="btn btn-primary col-md-offset-1" ng-click="buscar()"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                                        <button class="btn btn-primary col-md-offset-1" ng-click="refresh()"><span class="glyphicon glyphicon-trash"></span> Limpiar</button>
                                    </span>
                            
                           </div>
                             


                        </div>

                        <div class="row">
                            <p align="center">
                                <a ng-click = "exportar_excel()" style="cursor:pointer;" title = "exportar a excel"><img src="base_url + '../../../../client/src/assets/images/export_to_excel.png" /></a>
                            </p>
                            
                    <table class="table table-striped table-bordered table-hover" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th class="center">Nombre Cliente</th>
                                <th class="center">C&oacute;digo Cliente</th>
                                <th class="center">Nom. Prod</th>
                                <th class="center">Cod. Prod</th>
                                <th class="center">Cant. Producida</th>
                                <th class="center">Cant. Dispatch</th>
                                <th class="center">Cant. Entregada</th>
                                <th class="center">Fecha Despacho</th>
                                <th class="center">Usuario</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="rowlink" ng-repeat="dato_dispatch in datos_dispatch" data-dismiss="modal">

                                <td class="center">{{dato_dispatch.nomcte01}}</td>
                                <td class="center">{{dato_dispatch.id_cliente}}</td>
                                <td class="center">{{dato_dispatch.desprod01}}</td>
                                <td class="center">{{dato_dispatch.codprod01}}</td>
                                <td class="center"><div align="right">{{dato_dispatch.cantidad}}</div></td>
                                <td class="center"><div align="right">{{dato_dispatch.cantidad_dispatch}}</div></td>
                                <td class="center"><div align="right">{{dato_dispatch.cantidad_entregada}}</div></td>
                                <td ng-if = "dato_dispatch.fecha_dispatch == '0000-00-00 00:00:00' " class="center">PENDIENTE</td>
                                <td ng-if = "dato_dispatch.fecha_dispatch != '0000-00-00 00:00:00' " class="center">{{dato_dispatch.fecha_dispatch}}</td>
                                <td class="center">{{dato_dispatch.usuario_dispatch}}</td>
                                
                            </tr>
                        </tbody>  
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

